<style>
  .form-horizontal .form-group {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  @media screen and (min-width: 768px) and (max-width: 912px) {
    .control-label {
      text-align: left !important;
    }
  }
</style>
<%= form_for([current_app,@allergen], :html => {class: "form-horizontal", role: "form"}, remote: remote) do |f| %>
  <%= render partial: 'shared/form_locale_selector', locals: {model: "allergen", elem: "nameal"} %>
  <% I18n.available_locales.each do |locale| %>
    <div class="form-group <%= "nameal_#{locale}" %>">
      <div class="control-label col-md-2" style="padding-left: 15px !important">
        <%= f.label :name %>
      </div>
      <div class="col-md-8">
        <%= f.text_field "name_#{locale}", class: "form-control", placeholder: t('allergens.name_text', lang: "#{locale}"), autofocus: true %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="control-label col-md-2" style="padding-left: 15px !important">
      <%= f.label :image, t('allergens.image') %>
    </div>
    <div class="col-md-offset-2 col-md-10">
      <% if @allergen.image.attached? %>
        <% image = @allergen.sized(:image, :thumb) %>
        <%= image_tag(image, class:'img mb-4 img-fluid', alt: t('common.no_image')) if image.present? %>
      <% end %>
      <%= f.file_field "image", type: :file, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit(@allergen.new_record? ? t('allergens.add') : t('allergens.update'),
                                    class: "btn btn-primary btn-lg btn-xlarge") %>
    </div>
  </div>
<% end %>