<style>
  @media screen and (max-width: 600px) {
    .category-page-title {
      margin-top: <%= app_user_signed_in? ? '70px' : '10px' %>;
    }
  }
  ul.listing li {
    width: 150px !important;
  }
</style>

<div class="category-page-title">
  <%= render 'shared/page_title', title: t('common.allergens') %>
</div>

<div align="center">
  <%#= will_paginate %>
  <% @allergens.each do |allergen| %>
    <ul class="listing">
      <div class="row justify-content-center">
        <div class="well p-0">
          <li class="chef-title"><%= link_to allergen.name, app_allergen_path(current_app, allergen) %></li>
          <li><%= pluralize(allergen.recipes.count, "recipe") if allergen.recipes %></li>
          <% if app_user_signed_in? && current_app_user.admin? %>
            <li><%= link_to t('common.edit'), edit_app_allergen_path(current_app, allergen) %></li>
            <li><%= link_to t('common.delete'), [current_app, allergen], method: :delete, data:  { confirm: t('common.confirm') } %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%#= will_paginate %>
</div>