<div class="row ml-3 mt-4">
  <% avail_services(service_ids).each do |service| %>
    <div class="col-6 col-sm-4 col-lg-3 px-0">
      <div class="p-2">
        <% if current_app_user.admin? || current_app_user.manager? || current_app_user.chef? %>
          <%= link_to app_service_path(current_app, service.slug), target: '_blank' do %>
            <div class="<%= service.border_class %> text-center">
              <%= service.icon.gsub(/<br\s*\/?>/, '').html_safe if service.icon.present? %>
            </div>
          <% end %>
        <% else %>
          <%= service.icon.gsub(/<br\s*\/?>/, '').html_safe if service.icon.present? %>
        <% end %>
        <p class="text-center pt-2"><%= "#{service.start_time.strftime("%l:%M %p")} - #{service.end_time.strftime("%l:%M %p")}" %></p>
      </div>
    </div>
  <% end %>
</div>
