<style>
  .blue-border {
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
  }
  .green-border {
    border-bottom: 2px solid green;
    border-right: 2px solid green;
  }
  .select-height {
    height: 34px !important;
  }
  .reserve-button {
    font-size: 15px;
  }
  .text-small {
    font-size: 10px !important;
  }
  .schedule .margin-sec .box-content{
    margin-top: 1px!important;
    float: none;
  }
  .schedule .margin-sec {
    margin-top: 1px!important;
    float: none;
  }
  .margin-sec .box-content h2{
    margin-bottom: 0px !important;
  }
  #service_slot_phone_number::-webkit-outer-spin-button,
  #service_slot_phone_number::-webkit-inner-spin-button {
    display: none;
  }
  #new_service_slot input {
    font-size: 15px !important;
  }
  #service_slot_start_time_4i{
    margin-right: 5px;
  }
</style>

<%= render 'shared/page_title', title: t('schedule.services')%>
<div class="row schedule mx-0">
  <div class="col-12 margin-sec full-width-sec text-center">
    <div class="col-md-8 well box-content px-0">
      <div class="row border-bottom">
        <div class="col-md-12 mb-5">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="form-group mt-3 mb-0">
                <div class="control-label"style="padding-left: 15px !important">
                  <h2 class="text-dark"><%= t('services.service_type') %></h2>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-5">
              <div class="form-group mt-sm-3">
                <div class="ml-0">
                  <%= form_tag(app_services_path(current_app), method: :get, id: "service-type-form", class: "h-100") do %>
                    <%= select_tag "service_types", options_for_select(@service_types.map{|x| [x.name, x.slug]}, params[:service_types]), class: "form-control select-height", required: true %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <%= form_for(ServiceSlot.new, url: app_service_slots_path(current_app)) do |f| %>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group mt-1 mt-sm-3 mb-0">
                  <div class="control-label" style="padding-left: 15px !important">
                    <h2 class="text-dark" ><%= t('services.service_day') %></h2>
                    <p class="mb-0 text-small"><%= t('services.select_day_to_view_timing') %></p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-5">
                <div class="form-group mt-sm-3">
                  <div class="ml-0 booking-timings">
                    <%= f.date_field :day, min: Date.today, class: "form-control select-height", required: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group mt-1 mt-sm-3 mb-0">
                  <div class="control-label" style="padding-left: 15px !important">
                    <h2 class="text-dark" style="margin-bottom: 0px !important"><%= t('services.number_of_people') %></h2>
                    <p class="mb-0 text-small"><%= t('services.select_number_of_people_to_view_timing') %></p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-5">
                <div class="form-group mt-sm-3">
                  <div class="ml-0">
                    <%= f.number_field "number_of_people", value: 1, class: "form-control", placeholder: t('services.number_of_people'), min: 1, required: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group mt-1 mt-sm-3 mb-0">
                  <div class="control-label" style="padding-left: 15px !important">
                    <h2 class="text-dark"><%= t('services.service_timing') %></h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-5">
                <div class="form-group mt-sm-3">
                  <div class="ml-0 booking-timings">
                    <%= f.hidden_field :booked, value: true %>
                    <%= f.hidden_field :service_id %>
                    <span class='text-danger' id="time-error"></span>
                    <div class ="d-flex" id="timeSlots">
                      <%= f.time_select :start_time, {ampm: true, time_separator: '', include_blank: true, required: true, disabled: true}, class: "form-control select-height" %>
                    </div>
                    <span id='timing-note'></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group mt-1 mt-sm-3 mb-0">
                  <div class="control-label" style="padding-left: 15px !important">
                    <h2 class="text-dark"><%= t('services.first_name') %></h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-5">
                <div class="form-group mt-sm-3">
                  <div class="ml-0">
                    <%= f.text_field "first_name", class: "form-control", placeholder: t('services.first_name'), required: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group mt-1 mt-sm-3 mb-0">
                  <div class="control-label" style="padding-left: 15px !important">
                    <h2 class="text-dark"><%= t('services.last_name') %></h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-5">
                <div class="form-group mt-sm-3">
                  <div class="ml-0">
                    <%= f.text_field "last_name", class: "form-control", placeholder: t('services.last_name')%>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group mt-1 mt-sm-3 mb-0">
                  <div class="control-label" style="padding-left: 15px !important">
                    <h2 class="text-dark"><%= t('services.email') %></h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-5">
                <div class="form-group mt-sm-3">
                  <div class="ml-0">
                    <%= f.email_field "email", class: "form-control", placeholder: t('services.email') %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group mt-1 mt-sm-3 mb-0">
                  <div class="control-label" style="padding-left: 15px !important">
                    <h2 class="text-dark"><%= t('services.phone') %></h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-5">
                <div class="form-group mt-sm-3">
                  <div class="ml-0">
                    <%= f.number_field "phone_number", class: "form-control", placeholder: t('services.phone'), required: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="form-group mt-1 mt-sm-3 mb-0">
                  <div class="control-label" style="padding-left: 15px !important">
                    <h2 class="text-dark"><%= t('services.address') %></h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-5">
                <div class="form-group mt-sm-3">
                  <div class="ml-0">
                    <%= f.text_field "address", class: "form-control", placeholder: t('services.address') %>
                  </div>
                </div>
              </div>
            </div>
            <%= f.submit '' , class: 'd-none service-slot-btn' %>
          <% end %>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3"></div>
            <div class="col-12 col-sm-6 col-xl-5">
              <div class="form-group mt-1 mt-sm-3">
                <div class="ml-0">
                  <button type="submit"  class="btn btn-primary w-100 text-white reserve-button" ><%= t 'services.reserve' %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-12 text-center my-3">
          <h1><%= @service_type.name %></h1>
        </div>
      </div>
      <div id="services">
        <% available_services = @service_type.available_services %>
        <%= render 'services', service_ids: available_services %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('change', '#service_slot_day, #service_slot_number_of_people', function(e) {
    var service_type = $('#service_types').val();
    var people = $('#service_slot_number_of_people').val();
    var service_day = $('#service_slot_day').val();
    $.ajax({
      method: "GET",
      url: "/" + <%= current_app.id %> + "/slots",
      data: { service_day: service_day, service_types: service_type, people: people },
      success: function (response) {
      },
    })
  });

  $(document).on('change', '#service_types', function(e) {
    $('#service-type-form').submit();
  });

  $(document).on('click', '.reserve-button', function(e) {
    hour = parseInt($('#service_slot_start_time_4i').val());
    min = parseInt($('#service_slot_start_time_5i').val());
    if (hour == 0) { hour = 24 }

    if (hour != '') {
      var slots = $('#service_slot_start_time_4i').data('slots').replaceAll("&quot;", "").replace("[", "").replace(']', "").split(',');
      var submit = false;
      var service_id = '';
      $(slots).each(function() {
        var range = this.split(' - ');
        // Get start time data
        var modifier = range[0].trim().split(" ")[1];
        var start_time = range[0].trim().split(" ")[0];
        var time = start_time.match(/^(\d+)[ :,](\d+)$/);
        var start_time_hour = time[1];
        if (start_time_hour == 12) { start_time_hour = 0 }
        if (modifier == 'PM') { start_time_hour = parseInt(start_time_hour, 10) + 12; }
        var start_time_min = time[2];
        // Get end time data
        var modifier = range[1].trim().split(" ")[1];
        var end_time = range[1].trim().split(" ")[0];
        var time = end_time.match(/^(\d+)[ :,](\d+)$/);
        var end_time_hour = time[1];
        if (end_time_hour == 12) { end_time_hour = 0 }
        if (modifier == 'PM') { end_time_hour = parseInt(end_time_hour, 10) + 12; }
        var end_time_min = time[2];
        if (hour == 24) { hour = 0 }
        if ((hour > start_time_hour || (hour == start_time_hour && min >= start_time_min)) && (hour < end_time_hour || (hour ==end_time_hour && min < end_time_min))) {
          service_id = parseInt(range[2]);
          submit = true;
          return false;
        }
      });
      if (submit == true) {
        $('#time-error').text("");
        $('#service_slot_service_id').val(service_id);
        $('.service-slot-btn').click();
      } else {
        $('#time-error').text("Selected time is not available!");
      }
    } else {
      $('#time-error').text("Without time reservation not scheduled!");
    }
  });
</script>
