<style>
  td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dadada;
    font-size: 1.2em;
  }
  .service-select {
    height: 34px !important;
  }
  .blue-border {
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
  }
  .green-border {
    border-bottom: 2px solid green;
    border-right: 2px solid green;
  }
  .cke_contents, .cke_bottom, .cke_combo__styles, .cke_combo__format, .cke_combo__font, .cke_button__textcolor, .cke_combo__fontsize, .cke_button__undo, .cke_button__undo_label, .cke_button__redo, .cke_button__removeformat, .cke_button__bgcolor, .cke_button__bold, .cke_button__italic, .cke_button__underline, .cke_button__justifyleft, .cke_button__justifycenter, .cke_button__justifyright, .cke_button__justifyblock, .cke_button__link, .cke_button__unlink, .cke_button__numberedlist, .cke_button__bulletedlist, .cke_button__templates, .cke_button__collapsibleitem, .cke_toolbar_separator {
    display: none !important;
  }
  .cke_top{
    background: none !important;
    text-align: center !important;
  }
  .cke_chrome, .cke_top{
    border: none !important;
  }
  a.cke_button{
    text-align: center !important;
    float: none !important;
  }
  .cke_toolbar {
    float: none !important;
    text-align: center !important;
  }
  .cke_toolgroup{
    float: none !important;
  }
  .cke_toolgroup a.cke_button:last-child:after, .cke_toolgroup a.cke_button.cke_button_disabled:hover:last-child:after {
    border: none !important;
  }
  .icon img{
    width: 25% !important;
    height: 100% !important;
  }
  .schedule .margin-sec .box-content{
    margin-top: 1px!important;
    float: none;
    min-height: 310px !important;
  }
  .schedule .margin-sec {
    margin-top: 1px!important;
    float: none;
  }
  .edit-service{
    width: -webkit-fill-available;
  }
  #service_start_time_4i, #service_end_time_4i {
    margin-right: 10px;
  }
  @media screen and (max-width: 1091px) {
    .form-control{
      width: auto !important;
    }
  }
</style>

<%= render 'shared/page_title', title: t('schedule.title')%>

<div class="row mx-0 schedule">
  <div class="col-12 margin-sec full-width-sec text-center">
    <div class="col-md-9 well box-content px-0">
      <div class="border-bottom-secondary-1">
        <h3 class="text-center"><%= t('schedule.services') %></h3>
      </div>
      <% if current_app.service_types.present? %>
        <div class="table-responsive p-4">
          <table class="table mt-3" id="service-create-table">
            <tbody>
              <tr class="font-weight-bold">
                <td style='width: 15%'><%= t('services.upload_icon') %></td>
                <td style='width: 15%'><%= t('services.name') %></td>
                <td style='width: 10%'><%= t('services.customers') %></td>
                <td style='width: 10%'><%= t('services.start_day') %></td>
                <td style='width: 10%'><%= t('services.end_day') %></td>
                <td style='width: 15%'><%= t('services.start_time') %></td>
                <td style='width: 15%'><%= t('services.end_time') %></td>
                <td style='width: 10%; border: 0 !important;' class="empty-header" ></td>
              </tr>
              <%= form_for(Service.new, url: app_services_path(current_app), :html => {remote: true }) do |f| %>
                <%= f.hidden_field :app_id, value: current_app.id %>
                <%= f.hidden_field :user_id, value: current_app_user.id %>
                <tr>
                  <td class="border-0 icon-field">
                    <div>
                      <%= f.cktext_area "icon", cols: 50, class: "form-control", placeholder: t('services.icon'), autofocus: true  %>
                    </div>
                    <span class="selected-icon text-success"></span>
                  </td>
                  <td class="border-0">
                    <%= f.select :service_type_id, current_app.service_types.map{|type| [type.name, type.id]}, {include_blank: "Select"}, required: true, class: "form-control service-select", placeholder: t('services.name'), autofocus: true %>
                  </td>
                  <td class="border-0">
                    <%= f.number_field :customers, min: 1, class: "form-control", placeholder: t('services.customers'), autofocus: true %>
                  </td>
                  <td class="border-0">
                    <%= f.select :start_day, week_days, {include_blank: "Select"}, class: "form-control service-select", placeholder: t('services.start_day'), autofocus: true %>
                  </td>
                  <td class="border-0">
                    <%= f.select :end_day, week_days, {include_blank: "Select"}, class: "form-control service-select", placeholder: t('services.end_day'), autofocus: true %>
                  </td>
                  <td class="border-0">
                    <div class="d-flex">
                      <%= f.time_select :start_time, {ampm: true, time_separator: '', include_blank: true}, class: "form-control service-select" %>
                    </div>
                  </td>
                  <td class="border-0">
                    <div class="d-flex">
                      <%= f.time_select :end_time, {ampm: true, time_separator: '', include_blank: true}, class: "form-control service-select" %>
                    </div>
                  </td>
                  <td class="border-0">
                    <%= f.submit t('services.create'), class: "btn btn-success btn-lg" %>
                  </td>
                </tr>
              <% end %>
              <tr id="error-row"></tr>
            </tbody>
          </table>
        </div>
        <div id="avail_services">
          <%= render 'avail_services' %>
        </div>
      <% else %>
        <div class="mt-5">
          <h3 class="text-center"><%= t('schedule.no_service_types') %></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('click', '.edit-service-btn', function(e) {
    var serviceRow = $(this).parent('td').parent('tr');
    serviceRow.toggleClass('d-none');
    $('.service-'+serviceRow.data('id')+'-edit-row').toggleClass('d-none');
  });

  $(document).on('click', '.save-service-btn', function(e) {
    var serviceId = $(this).parent('td').parent('tr').data('id');
    if ($('.service-'+serviceId+'-detail-row td').hasClass('font-weight-bold')) {
      var index = 0;
      var type_index = 0;
    } else {
      var index = 1;
      var type_index = 1;
    }
    var detailRow = $('#edit_service_'+serviceId).parent('tr');
    var customers = detailRow.find('#service_customers').val();
    var start_day = detailRow.find('#service_start_day').val();
    var end_day = detailRow.find('#service_end_day').val();
    var start_time_1 = detailRow.find('#service_start_time_1i').val();
    var start_time_2 = detailRow.find('#service_start_time_2i').val();
    var start_time_3 = detailRow.find('#service_start_time_3i').val();
    var start_time_4 = detailRow.find('#service_start_time_4i').val();
    var start_time_5 = detailRow.find('#service_start_time_5i').val();
    var end_time_1 = detailRow.find('#service_end_time_1i').val();
    var end_time_2 = detailRow.find('#service_end_time_2i').val();
    var end_time_3 = detailRow.find('#service_end_time_3i').val();
    var end_time_4 = detailRow.find('#service_end_time_4i').val();
    var end_time_5 = detailRow.find('#service_end_time_5i').val();
    var icon = CKEDITOR.instances['service_icon_'+serviceId].getData();
    $.ajax({
      method: "PUT",
      url: "/" + <%= current_app.id %> + "/services/" + serviceId,
      data: {
              service: {
                customers: customers,
                start_day: start_day,
                end_day: end_day,
                "start_time(1i)": start_time_1,
                "start_time(2i)": start_time_2,
                "start_time(3i)": start_time_3,
                "start_time(4i)": start_time_4,
                "start_time(5i)": start_time_5,
                "end_time(1i)": end_time_1,
                "end_time(2i)": end_time_2,
                "end_time(3i)": end_time_3,
                "end_time(4i)": end_time_4,
                "end_time(5i)": end_time_5,
                icon: icon,
                app_id: <%= current_app.id %>,
                user_id: <%= current_app_user.id %>,
                index: index,
                type_index: type_index
              }
            },
      success: function (response) {
      },
    })
  });

  $(document).on('click', '.cancel-service-btn', function(e) {
    var editRow = $(this).parent('td').parent('tr');
    $('.service-'+editRow.data('id')+'-error').html("");
    var detailRow = $('.service-'+editRow.data('id')+'-detail-row');
    detailRow.toggleClass('d-none');
    editRow.find('#service_customers').val(detailRow.find('.customer-number').data('customers'));
    editRow.find('#service_start_day').val(detailRow.find('.booking-day').data('start-day'));
    editRow.find('#service_end_day').val(detailRow.find('.booking-day').data('end-day'));
    editRow.find('#service_start_time').val(detailRow.find('.booking-time').data('start-time'));
    editRow.find('#service_end_time').val(detailRow.find('.booking-time').data('end-time'));
    editRow.toggleClass('d-none');
    editRow.find('.selected-icon').html("");
  });

  $(document).on('click', '.cke_dialog_ui_button.cke_dialog_ui_button_ok', function(e) {
    var id = $(e.currentTarget).parents('.cke_reset_all')[0].className.split(' ')[2].split('_')[4];
    if (id == "dialog") {
      $('#service-create-table .selected-icon').html("Uploaded");
    } else {
      $('.service-'+id+'-edit-row').find('.selected-icon').html("Uploaded");
    }
  });
</script>

