.container
  %h3.center Guest-list

  %table.table.table-striped
    %thead
      %tr
        %th{ scope: 'col' }
          %button{ class: 'primary', data: { role: 'send_email' } } Select
        %th{ scope: 'col' } #
        %th{ scope: 'col' } First name
        %th{ scope: 'col' } Last name
        %th{ scope: 'col' } Email
        %th{ scope: 'col' } Last login
        %th{ scope: 'col' } Actions

    %tbody
      - @guests.each_with_index do |guest, index|
        %tr
          %th
            .form-check
              %input{ type: 'checkbox', class: "form-check-input guest_#{guest.id}" }
          %td= index + 1
          %td= guest.first_name
          %td= guest.last_name
          %td= guest.email
          %td= guest.last_sign_in_at
          %td
            / Todo: add guest actions, but need to clarify what