.container
  .row
    %h3.center Guest-list

  .row
    .email-sender-box
      %form
        / TODO: add to buttons disabled true and moved it after areas will be filled by data
        .col.col-lg-3
          .form-group
            %label{ for: 'emailTextarea' } Email body
            %textarea.form-control#emailTextarea{ rows: '5', data: { role: 'guest_email_text' } }
        .col.col-lg-2
          .form-group
            %label{ for: 'emailInput' } Email address
            %input.form-control#emailInput{ type: 'email', placeholder: 'Enter email', data: { role: 'guest_email' } }
          %button.btn.btn-primary{ style: 'margin: 2px', data: { role: 'send_email_to_one' } } Send to email
          %button.btn.btn-primary{ data: { role: 'send_email_to_all' } } Send to all

  .row
    %table.table.table-striped.guests-table
      %thead
        %tr
          %th{ scope: 'col' }
            %button{ class: 'primary', data: { role: 'send_email_to_selected' } }
          %th{ scope: 'col' } #
          %th{ scope: 'col' } First name
          %th{ scope: 'col' } Last name
          %th{ scope: 'col' } Email
          %th{ scope: 'col' } Last login
          %th{ scope: 'col' } Actions

      %tbody
        - @guests.each_with_index do |guest, index|
          %tr
            %th
              .form-check
                %input{ type: 'checkbox', class: "form-check-input guest_#{guest.id}" }
            %td= index + 1
            %td= guest.first_name
            %td= guest.last_name
            %td= guest.email
            %td= guest.last_sign_in_at
            %td
              / Todo: add guest actions, but need to clarify what