<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% current_app = @guest.app %>
    <% if current_app.slug == 'rockystepswaylive' %>
      <h1>Welcome to <%= link_to root_url, root_url %></h1>
      <p>
        A guest have successfully registered on <%= link_to root_url, root_url %>,
        <br>
      </p>
    <% else %>
      <h1>Welcome to <%= link_to app_url(current_app), app_url(current_app) %></h1>
      <p>
        A guest have successfully registered on <%= link_to app_url(current_app), app_url(current_app) %>,
        <br>
      </p>
    <% end %>
    <p>
     Here are the guest information:
    </p>
    <br>
    <ul>
      <li>Guest First Name: <%= @guest.first_name.capitalize %></li>
      <li>Guest Email <%= @guest.email %></li>
    </ul>
  </body>
</html>
