<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <%= render 'agreements/summary' %>
    </div>
    <div style="display: flex;">
      <strong>E-mail: </strong>
      <%= @agreement.email %>
    </div>
    <div style="display: flex;">
      <strong>First Name: </strong>
      <%= @agreement.first_name %>
    </div>
    <div style="display: flex;">
      <strong>Last Name: </strong>
      <%= @agreement.last_name %>
    </div>
    <div style="display: flex;">
      <strong>Guardian Email: </strong>
      <%= @agreement.guardian_email %>
    </div>
    <div style="display: flex;">
      <strong>Guardian First Name: </strong>
      <%= @agreement.guardian_first_name %>
    </div>
    <div style="display: flex;">
      <strong>Guardian Last Name: </strong>
      <%= @agreement.guardian_last_name %>
    </div>
  </div>
</div>
