<table>
  <h3 style="text-align: center;"><%= t('recipes.coupone_code') %></h3>
  <thead>
    <tr>
      <td colspan="2"><%= t('chefs.coupon_title') %></td>
      <td colspan="2"><%= t('chefs.coupon_percent_off') %></td>
      <td colspan="2"><%= t('chefs.coupon_amount_off') %></td>
      <td colspan="2"><%= t('chefs.coupon_active') %></td>
      <td class="empty-header"></td>
    </tr>
  </thead>
  <tbody>
    <% @current_app_user.chef_info.coupon_codes.each do |coupon_code| %>
      <tr>
        <td colspan="2"><%= coupon_code.title %></td>
        <td colspan="2"><%= coupon_code.coupon_percent_off %></td>
        <td colspan="2"><%= coupon_code.coupon_amount_off %></td>
        <td colspan="2"><%= coupon_code.is_active %></td>
        <td class="empty-header"><%= link_to "x", app_coupon_codes_path(@current_app, code_id: coupon_code.id), class: "btn btn-outline-danger", remote: true, method: :delete %></td>
      </tr>
    <% end %>
    <tr>
      <td class="empty-row"></td>
    </tr>
    <tr>
      <td colspan="2" class="add-coupon">
        <input type="text" id="coupon-title" class="form-control coupon-code-input" placeholder=<%= t('recipes.coupone_code') %>>
      </td>
      <td colspan="2" class="add-coupon">
        <input type="number" id="coupon-percent-off" class="form-control coupon-code-input" step=0.01 min=0 max=100>
      </td>
      <td colspan="2" class="add-coupon">
        <input type="number" id="coupon-amount-off" class="form-control coupon-code-input" step=0.01>
      </td>
      <td colspan="2" class="add-coupon">
        <input type="checkbox" id="coupon-check-box" class="coupon-active">
      </td>
      <td class="add-coupon">
        <input type="button" value="Add" class="btn btn-success btn-lg" id="add-coupon-btn" disabled=true>
      </td>
    <tr>
  </tbody>
</table>
