<div class="table-responsive">
  <table class="table">
    <h3 class="text-center padding-bottom-10">
      <%= t('recipes.coupone_code') %>
    </h3>
    <tbody>
      <tr class="font-weight-bold heading-styling large-screen-padding">
        <td style='width: 30%'><%= t('chefs.coupon_title') %></td>
        <td style='width: 20%'><%= t('chefs.coupon_percent_off') %></td>
        <td style='width: 28%'><%= t('chefs.coupon_amount_off') %></td>
        <td style='width: 12%'><%= t('chefs.coupon_active') %></td>
        <td style='width: 10%; border-top: 0 !important;' class="empty-header" ></td>
      </tr>
      <% @current_app_user.chef_info.coupon_codes.each do |coupon_code| %>
        <tr class="large-screen-padding">
          <td><%= coupon_code.title %></td>
          <td><%= coupon_code.coupon_percent_off %></td>
          <td><%= coupon_code.coupon_amount_off %></td>
          <td><%= coupon_code.is_active %></td>
          <td style='border-top: 0 !important;' class="empty-header"><%= link_to "x", app_coupon_codes_path(@current_app, code_id: coupon_code.id), class: "btn btn-outline-danger", remote: true, method: :delete %></td>
        </tr>
      <% end %>
      <tr>
        <td class="empty-row"></td>
      </tr>
      <tr class="no-border">
        <td class="add-coupon p-0">
          <input type="text" id="coupon-title" class="form-control coupon-code-input" placeholder=<%= t('recipes.coupone_code') %>>
        </td>
        <td class="add-coupon p-0">
          <input type="number" id="coupon-percent-off" class="form-control coupon-code-input" step=0.01 min=0 max=100>
        </td>
        <td class="add-coupon p-0">
          <input type="number" id="coupon-amount-off" class="form-control coupon-code-input" step=0.01>
        </td>
        <td class="add-coupon p-0">
          <input type="checkbox" id="coupon-check-box" class="coupon-active">
        </td>
        <td class="add-coupon p-0">
          <input type="button" value= "<%= t('common.add') %>" class="btn btn-success btn-lg" id="add-coupon-btn" disabled=true>
        </td>
      <tr>
    </tbody>
  </table>
</div>