<style>
  .form-control {
    font-size: 13px;
    font-weight: 600;
    color: black;
  }
  .cart-functional {
    padding-top: 6px;
    border-top: 4px solid green;
  }
  .copupon-codes {
    margin-left: 7%;
    max-width: 590px;
  }
  table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dadada;
    font-size: 1.2em;
  }
  thead {
    font-weight: bold;
    font-size: 1.2em;
  }
  .empty-row {
    height: 20px;
    border: none;
  }
  .add-coupon {
    border: none;
  }
  .empty-header {
    border: none;
  }
  .coupon-code-input {
    width: 97%;
  }
  .tax-input {
   text-align: center;
   margin-left: 15px;
 }
 .delivery-input {
   text-align: center;
 }
 .coupon-active {
    width: 30px;
    height: 30px;
 }
 .manager-check {
    width: 30px;
    height: 30px;
    margin-top: -5px !important;
 }
 .coupon-code-input {
   text-align: center;
 }
  .form-horizontal .checkbox-inline {
    padding-top: 0;
    padding-right: 10px;
  }
  .languages-btn {
    font-size: 15px;
    font-weight: 500;
    color: black;
  }
  input[type=checkbox].checkbox-inline {
    transform: scale(1.3);
    margin-right: 10px;
  }
  .dropdown .languages-dropdown {
    right: unset;
  }
  .languages-dropdown li label{
    font-size: 17px;
  }
</style>

<%= render 'shared/errors', obj: @user %>
<% @current_app_user = current_app_user %>
<% @current_app = current_app %>

<div class="row">
  <%= form_for(@user, url: !@user.id.nil? ? app_chef_path(current_app, @user) : app_chefs_path, :html => {class: "form-horizontal autosave p-0", role: "form",  multipart: true }) do |f| %>
    <div class="col-md-offset-4 login-sec margin-sec full-width-sec edit-chef">
      <div class="col-md-6 well box-content">
        <div class="mt-3">
          <% if @user.admin? %>
            <li class="dropdown nav-item list-unstyled">
              <a href="#" class="dropdown-toggle btn languages-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('forms.select_language') %></a>
              <ul class="dropdown-menu languages-dropdown">
                <% @available_locales.each do |style| %>
                  <li class="nav-item">
                    <a href="#" class='checkbox_anchor'>
                      <input id="<%= "user_app_attributes_selected_languages_#{style.first}"%>" type="checkbox" name="user[app_attributes][selected_languages][]" class="checkbox-inline input_checkbox" value="<%= style.first %>" <%= (@current_app.selected_languages.include?(style.first)) ? 'checked = true' : '' %> />
                      <label for="<%= "user_app_attributes_selected_languages_#{style.first}"%>"><%= style.last %></label>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <%= render partial: 'shared/form_locale_selector', locals: {model: "ingredient", elem: "chef"} %>
        </div>
        <div class="cart-functional"></div>
        <div class="mt-3 form-group">
          <div class="control-label col-md-2">
            <%= f.label :first_name, t('forms.first_name') %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :first_name, class: "form-control", placeholder: t('forms.first_name'), autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :last_name, t('forms.last_name') %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :last_name, class: "form-control", placeholder:  t('forms.last_name'), autofocus: true %>
          </div>
        </div>
        <% if @user.admin? %>
          <%= f.fields_for :app do |ff| %>
            <div class="form-group">
              <div class="control-label col-md-2">
                <%= f.label :slug, t('forms.url_slug') %>
              </div>
              <div class="col-md-9">
                <%= ff.text_field :slug, class: "form-control", placeholder: t('forms.url_slug'), autofocus: true %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :email %>
          </div>
          <div class="col-md-9">
            <%= f.email_field :email, class: "form-control", placeholder:  t('forms.email') %>
          </div>
        </div>
        <div class="form-group input-group show-password" style="width: auto;">
          <div class="control-label col-md-2">
            <%= f.label :password, t('forms.password') %>
          </div>
          <div class="col-md-9">
            <%= f.password_field :password, class: "form-control col-md-10", placeholder: t('forms.password') %>
            <div class='input-group-addon' style="height: 34px;">
              <a href="" class="toggle-password">
                <%= fa_icon "eye" %>
              </a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :password_confirmation, t('forms.password_confirmation') %>
          </div>
          <div class="col-md-9">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: t('forms.password_confirmation') %>
          </div>
        </div>
        <% if @current_app_user != @user %>
          <div class="form-group">
            <div class="control-label col-md-2">
              <%= f.label :manager_id, t('forms.manager_id') %>
            </div>
            <div class="col-md-9">
              <%= f.select :manager_id, current_app.users.managers.collect  {|p| [p.full_name, p.id] }, { prompt: t('forms.manager_for_staff') }, class: 'form-control form-control-lg' %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-md-2">
              <%= f.label :manager, 'Manager' %>
            </div>
            <div class="col-md-9">
              <%= f.check_box :manager, class: "manager-check" %>
            </div>
          </div>
        <% end %>
        <% if @current_app_user == @user && @current_app_user&.admin? && @current_app_user == @current_app.main_admin %>
          <div class="cart-functionalities">
            <div class="cart-functional">
              <h3 style="text-align: center; padding-bottom: 10px;">
                <%= t('chefs.cart_func') %>
              </h3>
              <div class="form-group">
                <div class="control-label col-md-2">
                  <%= f.label :product_tax, t('chefs.product_tax') + ' %' %>
                </div>
                <div class="col-md-3">
                  <%= f.number_field :product_tax, value: number_to_currency(@current_app_user.product_tax.to_f, delimiter: '', unit: ''), class: "tax-input form-control", step: 0.01, min: 0, max: 100 %>
                </div>
                <div class="control-label col-md-2 mr-4 ml-4">
                  <%= f.label :delivery_price, t('chefs.delivery_price') + ' $' %>
                </div>
                <div class="col-md-3">
                  <%= f.number_field :delivery_price, value: number_to_currency(@current_app_user.delivery_price.to_f, delimiter: '', unit: ''), class: "delivery-input form-control", step: 5, min: 0, max: 10 %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-2">
                <%= f.label :paypal_client_id, t('forms.paypal_client_id') %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :paypal_client_id, value: @current_app_user.paypal_client_id, class: "form-control", placeholder: t('forms.paypal_client_id') %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-2">
                <%= f.label :paypal_client_secret, t('forms.paypal_client_secret') %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :paypal_client_secret, class: "form-control", placeholder: t('forms.paypal_client_secret') %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-2">
                <%= f.label :store_address, t('forms.store_address') %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :store_address, class: "form-control", placeholder: t('forms.store_address') %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-2">
                <%= f.label :phone, t('orders.phone') %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :phone, class: "form-control", placeholder: t('orders.phone') %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-md-2">
                <%= f.label :greeting_message, t('forms.greeting_message') %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :greeting_message, class: "form-control", placeholder: t('forms.greeting_message') %>
              </div>
            </div>
          </div>
          <div class="cart-functional mb-4">
            <div class="copupon-codes">
              <table>
                <h3 style="text-align: center;"><%= t('recipes.coupone_code') %></h3>
                <thead>
                  <tr>
                    <td colspan="3"><%= t('chefs.coupon_title') %></td>
                    <td colspan="2"><%= t('chefs.coupon_percent_off') %></td>
                    <td colspan="2"><%= t('chefs.coupon_amount_off') %></td>
                    <td colspan="2"><%= t('chefs.coupon_active') %></td>
                    <td class="empty-header"></td>
                  </tr>
                </thead>
                <tbody>
                  <% @current_app_user.chef_info.coupon_codes.each do |coupon_code| %>
                    <tr>
                      <td colspan="3"><%= coupon_code.title %></td>
                      <td colspan="2"><%= coupon_code.coupon_percent_off %></td>
                      <td colspan="2"><%= coupon_code.coupon_amount_off %></td>
                      <td colspan="2"><%= coupon_code.is_active %></td>
                      <td class="empty-header"><%= button_to "x", app_coupon_codes_path(@current_app, code_id: coupon_code.id), class: "btn btn-outline-danger", remote: true, method: :delete %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td class="empty-row"></td>
                  </tr>
                  <tr>
                    <td colspan="3" class="add-coupon">
                      <input type="text" id="coupon-title" class="form-control coupon-code-input" placeholder=<%= t('recipes.coupone_code') %>>
                    </td>
                    <td colspan="2" class="add-coupon">
                      <input type="number" id="coupon-percent-off" class="form-control coupon-code-input" step=0.01 min=0 max=100>
                    </td>
                    <td colspan="2" class="add-coupon">
                      <input type="number" id="coupon-amount-off" class="form-control coupon-code-input" step=0.01>
                    </td>
                    <td colspan="2" class="add-coupon">
                      <input type="checkbox" id="coupon-check-box" class="coupon-active">
                    </td>
                    <td colspan="1" class="add-coupon">
                      <input type="button" value="Add" class="btn btn-success btn-lg" id="add-coupon-btn" disabled=true>
                    </td>
                  <tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="cart-functional mb-4">
            <div class="copupon-codes">
              <table>
                <h3 style="text-align: center;"><%= t('recipes.fundraising_code') %></h3>
                <thead>
                  <tr>
                    <td colspan="3"><%= t('chefs.coupon_title') %></td>
                    <td colspan="2"><%= t('chefs.coupon_active') %></td>
                    <td class="empty-header"></td>
                  </tr>
                </thead>
                <tbody>
                  <% @current_app_user.chef_info.fundrasing_codes.each do |fundrasing_code| %>
                    <tr>
                      <td colspan="3"><%= fundrasing_code.title %></td>
                      <td colspan="2"><%= fundrasing_code.is_active %></td>
                      <td class="empty-header"><%= button_to "x", app_fundrasing_codes_path(@current_app, code_id: fundrasing_code.id), class: "btn btn-outline-danger", remote: true, method: :delete %></td>
                    </tr>
                  <% end %>
                  <%= form_for :fundrasing_code, url: app_add_fundrasing_codes_path(@current_app), html: { method: :post } do |fundrasing_code| %>
                    <tr>
                      <td class="empty-row"></td>
                    </tr>
                    <tr>
                      <td colspan="3" class="add-coupon"><%= fundrasing_code.text_field :title, class: "form-control coupon-code-input", id: "fundrasing-title", placeholder: t('recipes.fundraising_code') %></td>
                      <td colspan="2" class="add-coupon"><%= fundrasing_code.check_box :is_active, class: "coupon-active" %></td>
                      <td colspan="1" class="add-coupon"><%= fundrasing_code.submit "Add", class: "btn btn-success btn-lg", id: "add-fundrasing-btn", disabled: true %></td>
                    <tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 well box-content p-3">
        <%= f.fields_for :chef_info, @user.chef_info do |c| %>
          <% [I18n.locale].each do |locale| %>
            <div class="form-group <%= "chef_#{locale}" %>">
              <div class="col-md-12" style="font-weight:bold;">
                <%= c.label :my_bio, t('chefs.add_summary_bio') + "(#{locale})" %>
              </div>
              <div class="col-md-12">
                <%= c.cktext_area "my_bio_#{locale}", class: "form-control", placeholder: "" %>
              </div>
            </div>
          <% end %>
          <%= c.hidden_field :admin_id, value: @current_app_user.id %>
          <div class="form-group">
            <p style="text-align: center; font-size: 10px;"><%= t('recipes.max_pic_size', mb: 5) %><br><%= t('recipes.rec_pic_size') %></p>
            <div class='row'>
              <div class="control-label col-md-2"></div>
              <div class="control-label col-md-2"></div>
              <div class="control-label col-md-8">
                <%= c.file_field :chef_avatar, accept: 'image/jpeg,image/gif,image/png' %>
              </div>
            </div>
            <div class='row'>
              <div class="col-md-12">
                <%= image_tag((!@user.nil? && !@user.chef_info.nil? && @user.chef_info.chef_avatar.attached?) ? @user.chef_info.chef_avatar : 'cooking-new.png', class: 'img-responsive', alt: t('common.no_image'), size: "1366x768") %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-4">
            <%= f.submit(@user.new_record? ? t('chefs.create_account') : t('chefs.update_account'), 
                                                      class: "btn btn-primary btn-lg btn-xlarge", style: "float:right;") %>
          </div>
          <div class="col-md-2 col-md-offset-2">
            <% if @current_app_user.admin? %>
            <%= link_to t('chefs.delete_profile'), [current_app, @user.chef_info], class: "btn btn-danger delete-btn btn-lg",  method: :delete, data: { confirm: t('chefs.confirm_delete_account') } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-4 col-md-offset-4 colormatch mt-5">
    [ <%= link_to t('forms.return_to_recipes'), app_recipes_path(@current_app) %> ]
  </div>
</div>

<script type="text/javascript">
  var couponTitleValue = document.getElementById("coupon-title");
  var addCouponBtn = document.getElementById("add-coupon-btn");
  var fundrasingTitleValue = document.getElementById("fundrasing-title");
  var addFundrasingBtn = document.getElementById("add-fundrasing-btn");

  couponTitleValue.addEventListener("change", function () {
    if (couponTitleValue.value.length > 0) {
      addCouponBtn.disabled = false;
    } else {
      addCouponBtn.disabled = true;
    }
  });

  addCouponBtn.addEventListener("click", function () {
    var title = $('#coupon-title').val();
    var couponPercentOff = $('#coupon-percent-off').val();
    var couponAmountOff = $('#coupon-amount-off').val();
    var couponCheckBox = $('#coupon-check-box').prop("checked");
    $.ajax({
      method: "POST",
      url: "/" + <%= @current_app.id %> + "/coupon_codes",
      data: { coupon_code: {title: title, coupon_percent_off: couponPercentOff, coupon_amount_off: couponAmountOff, is_active: couponCheckBox} },
      success: function (response) {
        window.location.reload();
      },
    })
  });

  fundrasingTitleValue.addEventListener("change", function () {
    if (fundrasingTitleValue.value.length > 0) {
      addFundrasingBtn.disabled = false;
    } else {
      addFundrasingBtn.disabled = true;
    }
  });

  var checkLanguages = document.querySelectorAll('[id ^= "user_app_attributes_selected_languages_"]')

  checkLanguages.forEach(event => {
    if (event.checked) {
      if (event.value.includes('_primary')) {
        event.style.accentColor = 'lime';
      } else {
        event.style.accentColor = 'blue';
      }
    }
  })

  checkLanguages.forEach(event => {
    event.addEventListener('change', () => {
      selectedLanguages = checkSelectedLanguage();
      
      if (event.checked) {
        if (selectedLanguages.length < 2) {
          event.value += "_primary"
          event.style.accentColor = 'lime';
        } else {
          event.value += "_secondary"

          event.style.accentColor = 'blue';
        }
      } else {
        selectedPrimary = checkPrimaryLanguage(selectedLanguages);
        event.value = event.value.substring(0,2);
        
        if(selectedPrimary.length < 1) {
          if (selectedLanguages.length >= 1) {
            selectedLanguages[0].style.accentColor = 'lime';
            selectedLanguages[0].value = selectedLanguages[0].value.substring(0,2);
            selectedLanguages[0].value += "_primary"
          }
        }
      }
    })
  })

  function checkSelectedLanguage() {
    var values = [];
    for(var i = 0; i < checkLanguages.length; i++) {
      if (checkLanguages[i].checked) {
        values.push(checkLanguages[i]);
      }
    }
    return values
  }

  function checkPrimaryLanguage(selected) {
    var values = [];
    for(var i = 0; i < selected.length; i++) {
      if (selected[i].value.includes('_primary')) {
        console.log('GGG', selected[i].value)
        values.push(selected[i].value);
      }
    }
    return values
  }
</script>
