<style>
  /* Dropdown CSS Start */
  .collapsible-item-title-link-icon{
    display: none;
  }
  .panel-default{
    border: none;
    box-shadow: none;
  }
  .panel-heading{
    border: none;
    background: none !important;
  }
  .panel-title{
    text-align: center;
  }
  .panel-title a{
    color: #007bff !important;
    text-decoration: none;
  }
  .collapsible-item-title-link svg{
    margin-left: 5px;
  }
  /* Dropdown CSS End */
</style>

<%= render 'shared/page_title', title: t('navigation.the_team') %>
<!--
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<br>
-->

<div class=" col-md-12 pagination-tab pagination-top">
  <%= will_paginate %>
</div>


<div class="col-md-12 margin-sec pagination-top page-sec">
  <% if @chef_plan.present? %>
    <% unless @chef_plan.downcase.include?("Professionals".downcase) || @chef_plan.downcase.include?("Amateur".downcase) %>
      <div class="btn-success"><%= link_to t('chefs.add_chef_contributor'), addchef_path %></div>
    <% end %>
  <% end %>

  <ul class="nav nav-tabs">
    <li>
      <%= link_to t('common.recipes'), app_recipes_path(current_app), {:style=>'font-size:16px'} %>
    </li>
    <li class="active">
      <%= link_to t('navigation.team'), app_chefs_path(current_app), {:style=>'font-size:16px'} %>
    </li>
  </ul>
</div>

<% @chefs.each do |chef| %>
  <div class="col-lg-12 chef-main chef-full bio-section chef-bio">
    <div class="col-md-3">
      <div class="image-box-shadow">
        <div class="custom-profile-detail">
          <% unless chef.chef_avatar.attached? %>
          <%= link_to image_tag('no_avatar.png'), app_chef_path(current_app, chef) %>
          <% else %>
            <%= link_to image_tag(chef.chef_avatar, size: 300), app_chef_path(current_app, chef) %>
          <% end %>

          <div class="user-profile">
            <center>
              <h3>
                <%= chef.user.full_name %>
                &nbsp;

                <% if (session[:user_role] == 'admin') && (current_member.admin?) %>
                  <% if current_member.id != chef.id %>
                    <%= link_to t('chefs.delete_profile'), chefdestroy_path(chef.id), data: { confirm: t('chefs.confirm_delete_account') } %>
                  <% end %>
                <% end %>
              </h3>
            </center>
          </div>
        </div>
      </div>
   </div>

  <div class="col-md-9">
    <div class="well box-content box-main">
      <div class="bios u-content">
        <p><%= !chef.my_bio.nil? ? chef.my_bio.html_safe : "" %> </p>
      </div>
    </div>
  </div>
  </div>
<% end %>

<div class="btn-lg  btn-bottom">&nbsp;</div>
