<style>
  .col-md-3{
    padding-left: 17px !important;
  }
   /* Dropdown CSS Start */
  .collapsible-item-title-link-icon{
    display: none;
  }
  .panel-default{
    border: none;
    box-shadow: none;
  }
  .panel-heading{
    border: none;
    background: none !important;
  }
  .panel-title{
    text-align: center;
  }
  .panel-title a{
    color: #007bff !important;
    text-decoration: none;
  }
  .collapsible-item-title-link svg{
    margin-left: 5px;
  }
  /* Dropdown CSS End */
</style>
<%= render 'shared/page_title', title: "#{@chef.user.full_name} #{@chef.user.title}" %>

<div class="row">
  <div class="col-lg-12 chef-main chef-full chef-main-detail bio-section chef-bio">
    <div class="col-md-3">
      <div class="image-box-shadow chef-left pt-3">
        <center><%= image_tag(@chef.chef_avatar.attached? ? @chef.chef_avatar : 'no_avatar.png', size: '300x300', alt: 'No image') %></center>
      </div>
    </div>
    <div class="col-md-9">
      <div class="well box-content box-main chef-right">
        <div class="bios">
            <h2 style="word-break: normal !important;">
              <%= !@chef.my_bio.nil? ? @chef.my_bio.html_safe : "" %>
            </h2>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg-12 text-right">
    <%= link_to t('chefs.edit_profile'), edit_app_chef_path(current_app, @chef.user.id), class: "btn btn-success pull-right btn-edit btn-lg", style: "margin-right:50px;" %>
    <% if current_app_user.admin? %>
    <%= link_to t('chefs.delete_profile'), app_chef_path(current_app, @chef.id), class: "btn btn-danger pull-right delete-btn btn-lg", style: "margin-right:50px;",  method: :delete, data: { confirm: t('chefs.confirm_delete_account') } %>
    <% end %>
  </div>
</div>

<% if @chef.recipes.count != 0 %>
  <h1 align="center"><%= @chef.user.full_name %> recipes</h1>
 
  <%= render 'recipes/recipe', obj: @chef_recipes %>

<% end %>
 