<%= render 'shared/page_title', title: "Chef #{@chef.user.full_name.capitalize}'s profile" %>

<div class="row">
  <div class="col-lg-12 chef-main chef-full chef-main-detail bio-section chef-bio">
    <div class="col-md-3">
      <div class="image-box-shadow chef-left">
        <center><%= image_tag(@chef.chef_avatar.url, size: '300x300', alt: 'No image') if @chef.chef_avatar? %></center>
      </div>
    </div>
    <div class="col-md-9">
      <div class="well box-content box-main chef-right">
        <div class="bios">
            <h2 style="word-break: normal !important;">
              <%= !@chef.my_bio.nil? ? @chef.my_bio.html_safe : "" %>
            </h2>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg-12 text-right">
    <%= link_to t('chefs.edit_profile'), edit_chef_path(@chef.user.id), class: "btn btn-success pull-right btn-edit btn-lg", style: "margin-right:50px;" %>
    <% if current_user.admin? %>
    <%= link_to t('chefs.delete_profile'), @recipe, class: "btn btn-danger pull-right delete-btn btn-lg", style: "margin-right:50px;",  method: :delete, data: { confirm: t('chefs.confirm_delete_account') } %>
    <% end %>
  </div>
</div>

<% if @chef.recipes.count != 0 %>
  <h1 align="center"><%= @chef.user.full_name %>'s recipes</h1>
 
  <%= render 'recipes/recipe', obj: @chef_recipes %>
  
<% else %>
  <h4 align="center">No recipes yet!</h4>
<% end %>