<style type="text/css">
  .full-width-sec {    float: none;
      margin: 0 auto;
      display: inline-block;
      text-align: center;
    }
  .full-width-sec .box-content {    float: none;
      display: inline-block; text-align: left;
      vertical-align: top;
      margin: 0 1%;}
  .full-width-sec .recepie-menu {width: 100%;}
  .full-width-sec .label label {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px; font-weight: bold;
      line-height: 1.428571429;
      color: #333333;}
  .recipi-main {margin-top: 60px;}
  #recipe_price {
    max-width: 100px;
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
  }
  #recipe_subcategory_id {
    text-align: center;
    font-size: 14px;
    padding: 10px 5px;
    border-radius: 4px;
    border: 2px inset grey;
  }
  .save-data{
    white-space: break-spaces;
  }
  .btn-secondary{
    border-radius: 8px;
  }
  @media screen and (max-width: 768px) {
    .form-horizontal {
      padding: 20px !important;
    }
    .recepie-menu{
      padding: 5px !important;
    }
    .recepie-menu #save-button {
      margin-bottom: 5px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .margin {
      margin-top: 20px !important;
    }
  }
  @media screen and (width: 768px) {
    .checkbox-text label{
      font-size: 12px !important;
    }
  }

  input.inventory {
    border: none;
    border-bottom: 1px dashed #000000;
    width: 50px;
    height: 25px !important;
  }
</style>
<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="margin-sec receipy-top-sec custom-new-form" style="padding: 20px;">
    <div class=" col-md-offset-4 login-sec margin-sec full-width-sec">
    <%= form_with(model: [current_app, @recipe], url: (@recipe.persisted? ? app_route(app_recipe_path(current_app, @recipe)) : app_route(app_recipes_path(current_app))), html: {class: "form-horizontal autosave", role: "form",  multipart: true, id: "new_recipe"}) do |f| %>
      <%= render partial: 'shared/form_locale_selector', locals: {model: "recipe", elem: "group"} %>
      <div class="col-md-8 well box-content margin">
        <% I18n.available_locales.each do |locale| %>
          <div class="<%= "group_#{locale}" %>">
            <div class="form-group col-12 mt-4 mt-md-0">
              <div class=" col-md-12">
                <%= f.label :name, t('forms.name') + "(#{locale})" %>
              </div>
              <div class="col-md-12">
                <%= f.text_field "name_#{locale}", class: "form-control", placeholder: t('recipes.write_name'), autofocus: true, maxlength: "50", id: "recipe_name_#{locale}" %>
                <p style="color:red;" class="mt-1"><%= t('common.recipe_note_allow_chars') %></p>
              </div>
            </div>
            <div class="form-group col-12">
              <div class=" col-md-12">
                <%= f.label :description, t('forms.description') + "(#{locale})" %>
              </div>
              <div class="col-md-12">
                <%= f.cktext_area "description_#{locale}", cols: 50, class: "form-control", placeholder: t('recipes.description_placeholder'), autofocus: true, id: "recipe_description_#{locale}" %>
                <p style="color:red;" class="mt-1"><%= t('common.note_allow_chars', from: 20, to: 3000) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-3 well box-content rht-box-sec py-4">

        <div class="form-group col-12 recepie-menu mt-4 mt-md-0" id='recipe_all_styles'>
          <div class="col-md-12 px-0">
            <%= f.label :styles, t('forms.styles') %> &nbsp; <a href="#" class='new_elem_recipe' data-toggle="modal" data-target="#new_style_modal">[<%= t('forms.new_style') %>]</a>
          </div>
          <div class="col-md-12 px-0">
            <%= f.collection_check_boxes :style_ids, Style.where(:app_id => current_app.id).all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text.capitalize} %>
            <% end %>
            
          </div>
        </div>

        <div class="form-group col-12 recepie-menu"  id='recipe_all_ingredients'>
          <div class="col-md-12 px-0">
            <%= f.label :ingredients, t('forms.ingredients') %> &nbsp; <a href="#"  class='new_elem_recipe' data-toggle="modal" data-target="#new_ingredient_modal">[<%= t('forms.new_ingredient') %>]</a>
          </div>
          <div class="col-md-12 px-0">
            <%= f.collection_check_boxes :ingredient_ids, current_app.ingredients, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text.capitalize} %>
            <% end %>
          </div>
        </div>
        <div class="form-group col-12 recepie-menu" id='recipe_all_allergens'>
          <div class="col-md-12 px-0">
            <%= f.label :allergens, t('forms.allergens') %> &nbsp; <a href="#" class='new_elem_recipe' data-toggle="modal" data-target="#new_allergen_modal">[<%= t('forms.new_allergen') %>]</a>
          </div>
          <div class="col-md-12 px-0">
            <%= f.collection_check_boxes :allergen_ids, Allergen.where(:app_id => current_app.id).all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text.capitalize} %>
            <% end %>
          </div>
        </div>

        <div class="form-group col-12 recepie-menu">
          <div class="col-md-12 px-0">
            <%= f.label :images, t('recipes.upload_food_pic') %>
          </div>
          <div class="col-md-12 px-0">
            <% if @recipe.food_image.attached? %>
              <% image = @recipe.sized(:food_image, :thumb) %>
              <%=image_tag(image, class:'img mb-3 h-100 w-100', alt: t('common.no_image')) if image.present? %>
            <% end %>
            <%= f.file_field "food_image", type: :file, accept: 'image/jpeg,image/gif,image/png' %>
            <bold style="margin-left: 5%;"><%= t('recipes.max_pic_size', mb: 5) %></bold>
          </div>
        </div>

        <div class="form-group col-12 recepie-menu">
          <div class="col-md-12 px-0">
            <%= f.label :gift_card_image, t('recipes.upload_gift_card_pic') %>
          </div>
          <div class="col-md-12 px-0">
            <% if @recipe.gift_card_image.attached? %>
              <% image = @recipe.sized(:gift_card_image, :thumb) %>
              <%=image_tag(image, class:'img mb-3 h-100 w-100', alt: t('common.no_image')) if image.present? %>
            <% end %>
            <%= f.file_field "gift_card_image", type: :file, accept: 'image/jpeg,image/gif,image/png' %>
            <bold style="margin-left: 5%;"><%= t('recipes.max_pic_size', mb: 5) %></bold>
          </div>
        </div>

        <div class="form-group col-12 recepie-menu checkbox-text">
          <div class="col-md-12 ml-4 px-0">
            <%= f.check_box :is_inventory_count, class: 'checkbox-inline input_checkbox' %>
            <%= f.label :inventory_count, t('recipes.inventory_count') %>
            <%= f.number_field :inventory_count, class: 'inventory' %>
          </div>
        </div>

        <div class="form-group col-12 recepie-menu checkbox-text">
          <div class="col-md-12 ml-4 px-0">
            <%= f.check_box :enable_gift_card, class: 'checkbox-inline input_checkbox' %>
            <%= f.label :enable_gift_card_sales, t('recipes.enable_gift_card_sales') %>
          </div>
        </div>

        <div class="form-group col-12 recepie-menu checkbox-text">
          <div class="col-md-12 ml-4 px-0">
            <%= f.check_box :enable_reservation, class: 'checkbox-inline input_checkbox' %>
            <%= f.label :reservation, t('recipe.enable_reservation') %>
          </div>
        </div>

        <div class="form-group col-12 recepie-menu checkbox-text">
          <div class="col-md-12 ml-4 px-0">
            <%= f.check_box :is_subscription, class: 'checkbox-inline input_checkbox' %>
            <%= f.label :subscription, t('recipes.subscription') %>
          </div>
        </div>

        <div class="form-group col-12 recepie-menu">
          <div class="col-md-12 px-0">
            <%= f.label :price, t('recipes.price') %>
            <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: 0.01, min: 0 %>
          </div>
        </div>
        <div class="recepie-menu btn form-group">
          <div class="row">
            <%= f.submit t('recipes.save_submit'), class: "mb-2 btn btn-success btn-lg col-12 save-data", id: "save-button", :formtarget => "_blank" %>
            <%= f.submit t('recipes.save_draft'), class: "mb-2 btn btn-outline-success btn-lg col-12 save-data", id: "draft-button", :formtarget => "_blank" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col-12 colormatch text-center mt-5">
      [ <%= link_to t('forms.return_to_recipes'), app_route(app_recipes_path(current_app)) %> ]
    </div>
    <!-- style modal -->
    <div class='modal fade' id='new_style_modal' tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel"><%= t('common.modal_title') %></h4>
          </div>
          <div class='modal-body'>
            <%= render 'styles/form', remote: true %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('common.modal_close') %></button>
          </div>
        </div>
      </div>
    </div>
    <!-- ingredient modal -->
    <div class='modal fade' id='new_ingredient_modal' tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel"><%= t('common.modal_title') %></h4>
          </div>
          <div class='modal-body'>
            <%= render 'ingredients/form', remote: true %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('common.modal_close') %></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Allergens modal -->
    <div class='modal fade' id='new_allergen_modal' tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel"><%= t('common.modal_title') %></h4>
          </div>
          <div class='modal-body'>
            <%= render 'allergens/form', remote: true %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('common.modal_close') %></button>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  var draftButton = document.getElementById("draft-button");
  var saveButton = document.getElementById("save-button");

  saveButton.disabled = true;
  draftButton.disabled = true;

  var currentLocaleLoad = document.getElementById("recipe_locale");
  var recipeNameLoad = document.getElementById("recipe_name_" + currentLocaleLoad.value);
  var recipeDescriptionLoad = document.getElementById("recipe_description_" + currentLocaleLoad.value);
  if (recipeNameLoad.value.length > 2 && recipeDescriptionLoad.value.length > 0) {
      saveButton.disabled = false;
      draftButton.disabled = false;
  } else {
      saveButton.disabled = true;
      draftButton.disabled = true;
  }

  document.body.addEventListener("mouseup", function () {
    var currentLocale = document.getElementById("recipe_locale");
    var recipeName = document.getElementById("recipe_name_" + currentLocale.value);
    var recipeDescription = document.getElementById("recipe_description_" + currentLocale.value);
    if (recipeName.value.length > 2 && recipeDescription.value.length > 0) {
        saveButton.disabled = false;
        draftButton.disabled = false;
    } else {
        saveButton.disabled = true;
        draftButton.disabled = true;
    }
  })

  $(document).ready(function() {
    $("footer").removeClass('fixed-footer');
    $('#new_style').on('ajax:success', function(e, data, status, xhr) {
      $('#recipe_all_styles').load('<%= app_route(new_app_recipe_path(current_app))%> #recipe_all_styles')
      $('#new_style_modal').modal('hide')
    })
    $('#new_ingredient').on('ajax:success', function(e, data, status, xhr) {
      $('#recipe_all_ingredients').load('<%= app_route(new_app_recipe_path(current_app))%> #recipe_all_ingredients')
      $('#new_ingredient_modal').modal('hide')
    })
    $('#new_allergen').on('ajax:success', function(e, data, status, xhr) {
      $('#recipe_all_allergens').load('<%= app_route(new_app_recipe_path(current_app))%> #recipe_all_allergens')
      $('#new_allergen_modal').modal('hide')
    })
  });

  $('#recipe_picture').bind('change', function(){
   var _URL = window.URL || window.webkitURL;
    size_in_megabytes = this.files[0].size/2048/2048;
    if (size_in_megabytes > 1) {
        $(this).val('');
      alert('Maximum file size is 5MB. Please choose a smaller file.')
    }

    var file, img;
    if ((file = this.files[0])) {
        img = new Image();
        img.onload = function () {
            if(this.width < 500 && this.height < 600) {
              //alert(this.width + " " + this.height);
              alert('Please provide image atleast 500*600 dimensions!');
              $('#recipe_picture').val('');
            }
        };
        img.src = _URL.createObjectURL(file);

    }

  });

  $('#recipe_drinkpic').bind('change', function(){

    var _URL = window.URL || window.webkitURL;
    size_in_megabytes = this.files[0].size/2048/2048;
    if (size_in_megabytes > 1) {
        $(this).val('');
      alert('Maximum file size is 5MB. Please choose a smaller file.')
    }

    var file, img;
    if ((file = this.files[0])) {
        img = new Image();
        img.onload = function () {
            if(this.width < 500 && this.height < 600) {
              //alert(this.width + " " + this.height);
              alert('Please provide image atleast 500*600 dimensions!');
              $('#recipe_drinkpic').val('');
            }
        };
        img.src = _URL.createObjectURL(file);

    }
  });

  function loadEditor(id)
  {
    var instance = CKEDITOR.instances[id];
    if(instance)
    {
      console.log('should remove', id)
      CKEDITOR.remove(instance);
    }
    CKEDITOR.replace(id,  {
      extraPlugins: 'placeholder',
    });
  }

  $('#recipe_all_styles input[type=checkbox]').change(function(){
    if($(this).is(':checked')){
  $('#recipe_all_styles input[type=checkbox]').attr('disabled', true);
      $(this).attr('disabled', false);
  }
    else{
    $('#recipe_all_styles input[type=checkbox]').attr('disabled', false);
      }
  });
</script>
