<style>
  table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  .index-recipe-price {
    font-size: 18px;
    font-family: WhitneySSm;
  }
  .badge {
    font-size: 20px;
  }
  .index-buttons {
    position: absolute;
    right: 3%;
    bottom: 8%;
  }
  .index-title {
    padding-left: 10px !important;
  }
  .recipe-title {
    font-family: MillerDisplay-Roman;
    color: #808080;
    font-weight: 400;
    text-transform: none;
  }
  .index-buy-button {
    font-family: WhitneySSm;
  }
  .index-title {
    padding-top: 13% !important;
  }
  .image-box-shadow {
    padding: 0;
    border-radius: 10px;
  }
  .img-responsive {
    border-radius: 10px;
  }
  @media screen and (max-width: 600px) {
    .top-paginate {
      display: none;
    }
    .nav-links-cont {
      display: none;
    }
    .image-box-shadow {
      min-height: 100px;
      margin-right: 8px !important; 
    }
    .image-box-shadow img {
      height: 100px;
    }
    .index-title {
      padding-top: 7% !important;
    }
    .margin-sec .box-content h2 {
      font-size: 14px;
    }
    .margin-sec .image-box-shadow {
      width: 40%;
    }
    .margin-sec.top-recepi.top-space .box-content {
      border: none;
      box-shadow: none;
    }
  }
  @media screen and (min-width: 280px) and (max-width: 912px){
    .recipe-title {
      font-size: 19px;
    }
  }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--div class="login-header">< render 'shared/page_title', title: "All Recipes" ></div-->
<% 
  @hide_chef_tab = '';
  if @recipes.nil? 
    @recipes = !@chef_recipes.nil? ? @chef_recipes : @ingredient_recipes
    @hide_chef_tab = 'none';
  end
%>

<% if @display_flash %>
  <%#= render 'layouts/messages' %>
  <%= flash_toastr %> 
<% end %>
<div class="col-md-12 margin-sec pagin-top top-paginate">
  <div class="pagination-tab">
    <%= will_paginate @recipes  %>
  </div>
</div>

<% if current_app_user&.admin? %>
  <div class="col-md-12 margin-sec nav-links-cont">
    <ul class="nav nav-tabs">
      <% if current_app_user %>
      <li style="display: <%= @hide_chef_tab %>">
        <%= link_to t('navigation.team'), app_chefs_path(app: @current_app), {:style=>'font-size:20px'} %>
      </li>
      <li class="<%= "active" if @recipes.first&.is_draft %>">
        <%= link_to t('common.drafts'), app_recipe_drafts_path(app: @current_app), {:style=>'font-size:20px'} %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="list-recipes px-3">
  <% if @recipes.blank? %>
    <div class="row">
      <div class="col-sm-12" style="text-align:center;">
        <% if session[:user_role] == 'admin' %>
          <span style="color:red;text-align:center;">
            <%=
              t('common.no_recipes_found_admin_html',
                  link: link_to(t('common.here'), new_recipe_path))
            %>
          </span>
        <% else %>
          <span style="color:red;text-align:center;">
            <%= t('common.no_recipes_found') %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% @recipes.each do |recipe| %>
    <div class="col-sm-6 margin-sec p-2">
      <div class="margin-sec top-recepi top-space">
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12 detail p-0">
            <div class="box-inner-sec well box-content">
              <% if recipe.food_image.attached? %>
                <%= link_to app_recipe_path(@current_app, recipe), class: 'recipe-title' do %>
                  <div class="col-md-4 thumb">
                    <div class="img-inner image-box-shadow">
                      <% image = recipe.sized(:food_image, :medium) %>
                      <%=image_tag(image, class:'img-responsive', alt: t('common.no_image')) if image.present? %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div class="col-md-6 index-title">
                <h2><%= link_to recipe.name, app_recipe_path(@current_app, recipe), class: 'recipe-title' %></h2>
              </div>
      <%
=begin%>
 <% if recipe.styles.any? %>
        <p><%= t('common.styles_colon') %> <%= render recipe.styles %></p>
      <% end %>
      <% if recipe.ingredients.any? %>
        <p><%= t('common.ingredients_colon') %> <%= render recipe.ingredients %></p>
      <% end %>
      <% if recipe.allergens.any? %>
        <p><%= t('common.allergens_colon') %> <%= render recipe.allergens %></p>
      <% end %> 
<%
=end%>
      <%
=begin%>
 <div class="pull-right">
        <%= link_to like_app_recipe_path(current_app, recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> <%= recipe.thumbs_up_total %>
        <% end %> &nbsp;
        <%= link_to like_app_recipe_path(current_app, recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> <%= recipe.thumbs_down_total %>
        <% end %>
      </div> 
<%
=end%>
      <%
=begin%>
 <section class="chef_info center">
        <h2 style="text-align:right">
          <%= link_to t('recipes.crafted_by') + ' ' + recipe.chef.user.full_name, app_chef_path(current_app, recipe.chef), class: "btn btn-success btn-lg" %>
        </h2>    
      </section> 
<%
=end%>
        <!-- <div class="index-buttons"> -->
          <%
=begin%>
 <table>
            <tr> 
<%
=end%>
              <%
=begin%>
 <td class="index-recipe-price"><%= t('recipes.price') %>: <span class="badge badge-primary"><%= number_to_currency(recipe.price) %></span></td> 
<%
=end%>
              <%
=begin%>
 <td> 
<%
=end%>
                <%
=begin%>
 <% unless recipe.is_draft %>
                  <%= button_to line_items_path(recipe_id: recipe.id), params: { app: @current_app.slug }, class: "index-buy-button btn btn-#{@current_cart.line_items.count == 0 ? 'primary' : 'success'} btn-lg" do %>
                    <%= @current_cart.line_items.count == 0 ? t('recipes.start_order') : t('recipes.add_to_cart') %> <span class="fa fa-shopping-cart"></span>
                  <% end %>
                <% else %>
                  <%= link_to t('recipes.add_to_cart'), new_app_user_registration_path(current_app), { class: 'btn btn-success btn-lg'} %>
                <% end %> 
<%
=end%>
              <%
=begin%>
 </td>
            </tr>
          </table> 
<%
=end%>
            </div>
          </div>
        </div>
      </div>
      <!-- '250x150'-->
    </div>
  <% end %>
</div>

<div class="col-md-12 margin-sec bottom-pagination">
  <div class="pagination-tab">
    <%= will_paginate @recipes %>
  </div>
</div>