
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--div class="login-header">< render 'shared/page_title', title: "All Recipes" ></div-->
<% 
@hide_chef_tab = '';
if @recipes.nil? 
  @recipes = !@chef_recipes.nil? ? @chef_recipes : @ingredient_recipes
  @hide_chef_tab = 'none';
end

%>
<div class="col-md-12 margin-sec pagin-top">
  <div class="pagination-tab">
    <%= will_paginate @recipes  %>
  </div>
</div>

<div class="col-md-12 margin-sec">
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to t('common.all_recipes'), recipes_path, {:style=>'font-size:20px'} %>
    </li>
    <li style="display: <%= @hide_chef_tab %>">
      <%= link_to t('common.chefs'), chefs_path, {:style=>'font-size:20px'} %>
    </li>
  </ul>
</div>

<div class="">
  <% if @recipes.blank? %>
    <div class="row">
      <div class="col-sm-12" style="text-align:center;">
        <% if session[:user_role] == 'admin' %>
          <span style="color:red;text-align:center;">
            <%=
              t('common.no_recipes_found_admin_html',
                  link: link_to(t('common.here'), new_recipe_path))
            %>
          </span>
        <% else %>
          <span style="color:red;text-align:center;">
            <%= t('common.no_recipes_found') %>
          </span>
        <% end %>
      </div>
    </div>
<% end %>

<% @recipes.each do |recipe| %>
  <div class="col-md-12 margin-sec">
  <div class="margin-sec top-recepi top-space">
  <div class="row">
    <div class="col-md-8 detail">
    <div class="box-inner-sec well box-content">
      <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
      <p><%= (recipe.description.size > 100) ? recipe.description.slice(0,100) + '...' : recipe.description %></p>

      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> <%= recipe.thumbs_up_total %>
        <% end %> &nbsp;
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> <%= recipe.thumbs_down_total %>
        <% end %>
      </div>
      <section class="chef_info center">
        <h2 style="text-align:right">
          <%= link_to t('recipes.crafted_by') + ' ' + recipe.chef.user.full_name, chef_path(recipe.chef), class: "btn btn-success btn-lg" %>
        </h2>
        
      </section>
      </div>
    </div>
    <% if !recipe.recipe_images.nil? 
        recipe.recipe_images.each do |re_img|
    %>

      <div class="col-md-2 thumb">
        <div class="img-inner image-box-shadow">
          <%=image_tag(re_img.image.url, class:'img-responsive', alt: t('common.no_image')) if re_img.image? %>
        </div>
      </div>
      <% end %>
   <% end %>
  </div>
    <!-- '250x150'-->
  </div>
  </div>
<% end %>
</div>

<div class="col-md-12 margin-sec bottom-pagination">
  <div class="pagination-tab">
    <%= will_paginate @recipes %>
  </div>
</div>