<style>
  table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  .index-recipe-price {
    font-size: 18px;
  }
  .badge {
    font-size: 20px;
  }
  .index-buttons {
    margin-top: 80px;
    display: inline-block;
    width:360px;
  }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--div class="login-header">< render 'shared/page_title', title: "All Recipes" ></div-->
<% 
  @hide_chef_tab = '';
  if @recipes.nil? 
    @recipes = !@chef_recipes.nil? ? @chef_recipes : @ingredient_recipes
    @hide_chef_tab = 'none';
  end
%>

<% if @display_flash %>
  <%#= render 'layouts/messages' %>
  <%= flash_toastr %> 
<% end %>
<div class="col-md-12 margin-sec pagin-top">
  <div class="pagination-tab">
    <%= will_paginate @recipes  %>
  </div>
</div>

<div class="col-md-12 margin-sec">
  <ul class="nav nav-tabs">
    <li class="<%= "active" unless @recipes.first&.is_draft %>">
      <%= link_to t('common.all_recipes'), app_recipes_path(app: current_app), {:style=>'font-size:20px'} %>
    </li>
    <li style="display: <%= @hide_chef_tab %>">
      <%= link_to t('navigation.team'), app_chefs_path(app: current_app), {:style=>'font-size:20px'} %>
    </li>
    <li class="<%= "active" if @recipes.first&.is_draft %>">
      <%= link_to t('common.drafts'), app_recipe_drafts_path(app: current_app), {:style=>'font-size:20px'} %>
    </li>
  </ul>
</div>

<div class="list-recipes">
  <% if @recipes.blank? %>
    <div class="row">
      <div class="col-sm-12" style="text-align:center;">
        <% if session[:user_role] == 'admin' %>
          <span style="color:red;text-align:center;">
            <%=
              t('common.no_recipes_found_admin_html',
                  link: link_to(t('common.here'), new_recipe_path))
            %>
          </span>
        <% else %>
          <span style="color:red;text-align:center;">
            <%= t('common.no_recipes_found') %>
          </span>
        <% end %>
      </div>
    </div>
<% end %>

<% @recipes.each do |recipe| %>
  <div class="col-md-12 margin-sec">
  <div class="margin-sec top-recepi top-space">
  <div class="row">
    <div class="col-md-8 detail">
    <div class="box-inner-sec well box-content">
    
      <h2><%= link_to recipe.name, app_recipe_path(current_app, recipe) %></h2>
      <div>
        <% if !recipe.summary.nil? && recipe.summary.size > 125 %>
          <%= truncate(recipe.summary, length: 125, escape: false) { link_to 'read more', app_recipe_path(current_app, recipe) } %>
        <% else %>
          <% length = recipe.summary.size %>
          <%= truncate(recipe.summary, length: length - 3, escape: false) { link_to 'read more', app_recipe_path(current_app, recipe) } %>
        <% end %>
      </div>
      <%
=begin%>
 <% if recipe.styles.any? %>
        <p><%= t('common.styles_colon') %> <%= render recipe.styles %></p>
      <% end %>
      <% if recipe.ingredients.any? %>
        <p><%= t('common.ingredients_colon') %> <%= render recipe.ingredients %></p>
      <% end %>
      <% if recipe.allergens.any? %>
        <p><%= t('common.allergens_colon') %> <%= render recipe.allergens %></p>
      <% end %> 
<%
=end%>
      <%
=begin%>
 <div class="pull-right">
        <%= link_to like_app_recipe_path(current_app, recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> <%= recipe.thumbs_up_total %>
        <% end %> &nbsp;
        <%= link_to like_app_recipe_path(current_app, recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> <%= recipe.thumbs_down_total %>
        <% end %>
      </div> 
<%
=end%>
      <%
=begin%>
 <section class="chef_info center">
        <h2 style="text-align:right">
          <%= link_to t('recipes.crafted_by') + ' ' + recipe.chef.user.full_name, app_chef_path(current_app, recipe.chef), class: "btn btn-success btn-lg" %>
        </h2>    
      </section> 
<%
=end%>
        <div class="index-buttons">
          <table>
            <tr>
              <td class="index-recipe-price"><%= t('recipes.price') %>: <span class="badge badge-primary"><%= number_to_currency(recipe.price) %></span></td>
              <td>
                <% unless recipe.is_draft %> 
                  <%= button_to line_items_path(recipe_id: recipe.id), class: 'index-buy-button btn btn-success btn-lg' do %>
                    <%= t('recipes.add_to_cart') %> <span class="fa fa-shopping-cart"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <% if recipe.food_image.attached? %>
      <div class="col-md-2 thumb">
        <div class="img-inner image-box-shadow">
          <%=image_tag(recipe.sized(:food_image, :medium), class:'img-responsive', alt: t('common.no_image')) %>
        </div>
      </div>
    <% end %>
    <% if recipe.drink_image.attached?%>
      <div class="col-md-2 thumb">
        <div class="img-inner image-box-shadow">
          <%=image_tag(recipe.sized(:drink_image, :medium), class:'img-responsive', alt: t('common.no_image')) %>
        </div>
      </div>
    <% end %>
  </div>
    <!-- '250x150'-->
  </div>
  </div>
<% end %>
</div>

<div class="col-md-12 margin-sec bottom-pagination">
  <div class="pagination-tab">
    <%= will_paginate @recipes %>
  </div>
</div>