
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--div class="login-header">< render 'shared/page_title', title: "All Recipes" ></div-->
<% 
@hide_chef_tab = '';
if @recipes.nil? 
  @recipes = !@chef_recipes.nil? ? @chef_recipes : @ingredient_recipes
  @hide_chef_tab = 'none';
end

%>
<% if @display_flash %>
  <%#= render 'layouts/messages' %>
  <%= flash_toastr %> 
<% end %>
<div class="col-md-12 margin-sec pagin-top">
  <div class="pagination-tab">
    <%= will_paginate @recipes  %>
  </div>
</div>

<div class="list-recipes">
  <% if @recipes.blank? %>
    <div class="row">
      <div class="col-sm-12" style="text-align:center;">
        <% if session[:user_role] == 'admin' %>
          <span style="color:red;text-align:center;">
            <%=
              t('common.no_recipes_found_admin_html',
                  link: link_to(t('common.here'), new_recipe_path))
            %>
          </span>
        <% else %>
          <span style="color:red;text-align:center;">
            <%= t('common.no_recipes_found') %>
          </span>
        <% end %>
      </div>
    </div>
<% end %>

<% @recipes.each do |recipe| %>
  <div class="col-md-12 margin-sec">
  <div class="margin-sec top-recepi top-space">
  <div class="row">
    <div class="col-md-8 detail">
    <div class="box-inner-sec well box-content">
      <h2><%= link_to recipe.name, app_recipe_path(current_app, recipe) %></h2>
      <h2><%= t('recipes.price') %>: <span class="badge badge-primary"><%= number_to_currency(recipe.price) %></span></h2>
      <div>
        <%= (!recipe.summary.nil? && recipe.summary.size > 100) ? raw(enclose_tag(recipe.summary.slice(0,100) + '...')) : raw(recipe.summary) %>
      </div>
      <% if recipe.styles.any? %>
        <p><%= t('common.styles_colon') %> <%= render recipe.styles %></p>
      <% end %>
      <% if recipe.ingredients.any? %>
        <p><%= t('common.ingredients_colon') %> <%= render recipe.ingredients %></p>
      <% end %>
      <% if recipe.allergens.any? %>
        <p><%= t('common.allergens_colon') %> <%= render recipe.allergens %></p>
      <% end %>
      <section class="chef_info center">
        <h2 style="text-align:right">
          <%= link_to t('recipes.crafted_by') + ' ' + recipe.chef.user.full_name, app_chef_path(current_app, recipe.chef), class: "btn btn-success btn-lg" %>
        </h2>
        
      </section>
      </div>
    </div>
    <% if recipe.food_image.attached? %>
      <div class="col-md-2 thumb">
        <div class="img-inner image-box-shadow">
          <%=image_tag(recipe.sized(:food_image, :medium), class:'img-responsive', alt: t('common.no_image')) %>
        </div>
      </div>
    <% end %>
    <% if recipe.drink_image.attached?%>
      <div class="col-md-2 thumb">
        <div class="img-inner image-box-shadow">
          <%=image_tag(recipe.sized(:drink_image, :medium), class:'img-responsive', alt: t('common.no_image')) %>
        </div>
      </div>
    <% end %>
  </div>
    <!-- '250x150'-->
  </div>
  </div>
<% end %>
</div>

<div class="col-md-12 margin-sec bottom-pagination">
  <div class="pagination-tab">
    <%= will_paginate @recipes %>
  </div>
</div>