
  <div class="margin-sec top-space" style="margin-top: 50px;">
     <div class="col-md-12 margin-sec top-space recipe-detail">
     <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12 detail-sec">
      <div class="box-inner-sec well box-content">
      <div class="detail-list">
      <% if (current_user and (@recipe.chef.id == current_user.id) || current_user.admin?) %>
        <%= link_to t('recipes.delete_recipe'), @recipe, class: "btn btn-danger pull-right delete-btn btn-lg",  method: :delete, data: { confirm: t('common.confirm') } %>
      <% end %>

      
      <% if (current_user and (@recipe.chef.id == current_user.id)|| current_user.admin? ) %>
        <%= link_to t('recipes.edit_recipe'), edit_recipe_path(@recipe), class: "btn btn-success pull-right btn-edit btn-lg" %>
      <% end %>
 

      <center>
        <h2>
          <%= link_to @recipe.name, recipe_path(@recipe) %>
        </h2>
      </center>

      <h2>
        <%= @recipe.summary %>
      </h2>

      <div class="well-sec">
        <p>
          <strong><%= t 'recipes.tips_ingredients_preparation' %></strong>
        </p>
        <p style="font-family: Garamond; font-size:18px;">
          <%= simple_format(@recipe.description) %>
        </p>
        <div class="chef_info center">
          <h2 style="text-align:right">
            <a href="/chefs/<%= @recipe.chef.id%>" class="btn btn-success btn-lg">
              <%= t('recipes.crafted_by') %> <%= @recipe.chef.user.full_name.capitalize %>
            </a>
          </h2>
        </div>
      </div>
      </div>
      </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 thumb-sec">
      <% if !@recipe.recipe_images.nil? 
          @recipe.recipe_images.each do |re_img|
      %>
      
        <div class="image-box-shadow" style="margin-bottom: 10px;">
          <%=image_tag(re_img.image.url, class:'img', alt: t('common.no_image')) if re_img.image? %>
        </div>
       
     
      <%
        end 
      %>
       </div>
      <%
      end 
      %>

      </div>
      </div>
  </div>


<br>

<% if current_user.present? && session[:user_role] != 'super_admin' %>
  <div class="recipes-q">
 
    <center>
          <% if current_user.id != @recipe.chef.id %>
            <h3>
              <a href="<%= new_question_path(@recipe, user_id: current_user.id, email: @recipe.chef.user.email, recipe_id: @recipe.id) %>">
                <%= t('recipes.question_about_this_recipe') %>
              </a>
            </h3>
            <br>
            <br>
            <% if @recipe.is_reservation_enable %>
              <h3>
                <a href="<%= new_reservation_path(@recipe, user_id: current_user.id, email: @recipe.chef.admin_user.email, recipe_id: @recipe.id) %>" class="btn btn-success">
                  <%= "Make Reservation" %>
                </a>
              </h3>
              <% end %>
              <br/>
              <br/>
          <% end %>
          <%= link_to like_recipe_path(@recipe, like: true), method: :post, :style => "font-size:30px; color: #337ab7 !important" do %>
            <i class="glyphicon glyphicon-thumbs-up" ></i>
            &nbsp;
            <%= @recipe.thumbs_up_total %>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to like_recipe_path(@recipe, like: false), method: :post,:style => "font-size:30px; color: #337ab7 !important" do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>
              &nbsp;
              <%= @recipe.thumbs_down_total %>
          <% end %>
     
    </center>
  </div>
<% end %>

<center>
  <h5>
    <% if session[:user_role] == 'super_admin' %>
      <%= link_to t('recipes.return_to_recipes_listing'), allrecipe_path, class: 'btn btn-primary btn-lg', style: "color:white !important" %>
    <% else %>
      <%= link_to t('recipes.return_to_recipes_listing'), recipes_path, class: 'btn btn-primary btn-lg', style: "color:white !important" %>
    <% end %>
  </h5>
</center>