
  <div class="margin-sec top-space without-heading">
     <div class="col-md-12 margin-sec top-space recipe-detail">
     <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12 detail-sec">
      <div class="box-inner-sec well box-content">
      <div class="detail-list">
      <% if current_user and (@recipe.chef.id == current_user.id) %>
        <%= link_to t('recipes.delete_recipe'), @recipe, class: "btn btn-danger pull-right delete-btn",  method: :delete, data: { confirm: t('common.confirm') } %>
      <% end %>

      <% if (session[:user_role] == 'admin') %>
        <% if current_user and (@recipe.chef.id == current_user.id) %>
          <%= link_to t('recipes.edit_recipe'), edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
        <% end %>
      <% end %>

      <center>
        <h2>
          <%= link_to @recipe.name, recipe_path(@recipe) %>
        </h2>
      </center>

      <h2>
        <%= @recipe.description %>
      </h2>

      <div class="well-sec">
        <p>
          <strong><%= t 'recipes.tips_ingredients_preparation' %></strong>
        </p>
        <p style="font-family: Garamond; font-size:18px;">
          <%= simple_format(@recipe.description) %>
        </p>
        <div class="chef_info center">
          <h2 style="text-align:right">
            <a href="/chefs/<%= @recipe.chef.id%>" class="btn btn-success btn-lg">
              <%= t('recipes.crafted_by') %> <%= @recipe.chef.user.full_name.capitalize %>
            </a>
          </h2>
        </div>
      </div>
      </div>
      </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 thumb-sec">
        <div class="img-inner image-box-shadow">
          <%=image_tag(@recipe.image.url, class:'img-responsive', alt: t('common.no_image')) if @recipe.image? %>
        </div>
       
      </div>

      </div>
      </div>
  </div>


<br>

<% if current_user.present? && session[:user_role] != 'super_admin' %>
  <div class="recipes-q">
 
    <center>
      
          <%= link_to like_recipe_path(@recipe, like: true), method: :post, :style => "font-size:35px;" do %>
            <i class="glyphicon glyphicon-thumbs-up" ></i>
            &nbsp;
            <%= @recipe.thumbs_up_total %>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to like_recipe_path(@recipe, like: false), method: :post,:style => "font-size:35px;" do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>
              &nbsp;
              <%= @recipe.thumbs_down_total %>
          <% end %>
     
    </center>
  </div>
<% end %>

<center>
  <h5>
    <% if session[:user_role] == 'super_admin' %>
      <%= link_to t('recipes.return_to_recipes_listing'), allrecipe_path, class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= link_to t('recipes.return_to_recipes_listing'), recipes_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </h5>
</center>