<style>
  .buy-button form{
    padding: 10px !important;
  }
  .buy-button{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index:100;
  }
  .fa-shopping-cart { 
    transform: scale(-1, 1);
  }
  .recipe-title {
    font-family: MillerDisplay-Roman;
    margin-bottom: 40px;
    display: inline-grid;
  }
  .box-content-font {
    padding-left: 10px;
    padding-right: 10px;
  }
  img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
  }
  .recipe-detail .image-box-shadow {
    height: 310px !important;
   }  
  .buy-button button {
    padding: 10px 25px;
    background: #6ee06e;
    background-image: -webkit-linear-gradient(top, #6ee06e, #449d44);
    background-image: -moz-linear-gradient(top, #6ee06e, #449d44);
    background-image: -ms-linear-gradient(top, #6ee06e, #449d44);
    background-image: -o-linear-gradient(top, #6ee06e, #449d44);
    background-image: linear-gradient(to bottom, #6ee06e, #449d44);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .buy-button button:hover {
    background: #64dc3b;
    background-image: -webkit-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -moz-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -ms-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -o-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: linear-gradient(to bottom, #64dc3b, #64dc3b);
    text-decoration: none;
  }
  .margin-top-18{
   margin-top: 18px !important;
  }
  .margin-bottom-30{
    margin-bottom: 30px !important;
  }
  .margin-bottom-21{
    margin-bottom: 21px !important;
  }
  .recipes-q h3:nth-child(1) {
    margin-bottom: 40px;
  }
  .dots{
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }
  .dots li{
    width: 10px;
    height: 10px;
    font-size: 20px;
    padding: 0 9px;
  }
  .price-tag{
    color: black ;
    background-color: white ;
    border: 2px outset ;
    font-family: serif;
    padding: 5px;
  }
  /* Dropdown CSS Start */
  .collapsible-item-title-link-icon{
    display: none;
  }
  .panel-default{
    border: none;
    box-shadow: none;
  }
  .panel-heading{
    border: none;
    background: none !important;
  }
  .panel-title{
    text-align: center;
  }
  .panel-title a{
    color: #007bff !important;
    text-decoration: none;
  }
  .collapsible-item-title-link svg{
    margin-left: 5px;
  }
  /* Dropdown CSS End */
  @media screen and (min-width: 768px) {
   .col-md-3.thumb-sec {
      position: absolute;
      right: -36% !important;
      top: 0;
    }
    .thumb-sec{
      max-width: 33.33% !important;
    }
    .col-md-3 {
      max-width: 35%;
    }
    .recipe-detail .image-box-shadow {
      padding: 5px;
    }
  }
   @media (max-width: 767px){
    .top-space .box-inner-sec.box-content {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
   @media (max-width: 768px) and (min-width: 280px) {
    .recipe-name {
      margin-top: 65px;
    }
  }
  @media screen and (width: 540px) {
    .recipe-detail .thumb-sec .image-box-shadow {
      margin-top: 15px !important;
    }
    .recipe-detail .thumb-sec .image-box-shadow img{
      max-height: initial; !important;
    }
  }
  @media screen and (max-width: 600px) {
    .recipe-title {
      color: #f04123;
      text-align: center;
    }
    .recipe-margin-sec .top-space {
      margin-top: <%= app_user_signed_in? ? '60px' : '0' %>;
      margin-bottom: 10px;
    }
    .margin-top-18{
      margin-top: 0px !important;
    }
  }
   @media screen and (width: 540px) {
    .recipe-detail .thumb-sec .image-box-shadow {
      margin-top: 15px !important;
    }
    .recipe-detail .thumb-sec .image-box-shadow img{
      max-height: initial; !important;
    }
  }
</style>
<div class="recipe-margin-sec top-space">
  <div class="col-md-12 recipe-margin-sec top-space recipe-detail">
    <div class="row mt-4">
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="box-inner-sec well box-content">
          <div class="col-md-3 col-sm-12 col-xs-12 thumb-sec">
            <% if @recipe.food_image.attached? %>
              <div class="image-box-shadow mt-0">
                <%=image_tag(@recipe.food_image, class:'img', alt: t('common.no_image')) %>
              </div>
            <% end %>
          </div>
          <div class="detail-list">
            <% if (current_app_user and (@recipe.chef.id == current_app_user.id) || current_app_user.admin?) %>
              <%= link_to t('recipes.delete_recipe'), [current_app, @recipe], class: "btn btn-danger pull-right  btn-lg", style:"margin-right:100px; font-family: WhitneySSm;",  method: :delete, data: { confirm: t('common.confirm') } %>
            <% end %>
            <% if (current_app_user and (@recipe.chef.id == current_app_user.id)|| current_app_user.admin? ) %>
              <%= link_to t('recipes.edit_recipe'), edit_app_recipe_path(current_app, @recipe), class: "btn btn-success pull-right btn-lg", style: 'font-family: WhitneySSm;' %>
            <% end %>
            <center class="box-content-font" style="margin-bottom:0;">
              <h1 class='recipe-title text-dark'>
                <%= @recipe.name %>
              </h1>
            </center>
            <% unless @recipe.price.zero? %>
              <h2 class="box-content-font" style="margin-top: 15px; margin-bottom: 15px;">
                <span class="price-tag">
                  <%= t('recipes.price') %>: <%= number_to_currency(@recipe.price) %>
                </span>
              </h2>
            <% end %>
           
            <%= @recipe.description.html_safe %>
            <div class="chef_info center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row w-100 justify-content-center">
  <% unless @recipe.is_draft %>
    <% if session[:user_role] != 'super_admin' %>
      <div class="recipes-q margin-top-18">
        <center>
          <% if current_app_user && current_app_user.id != @recipe.chef.id %>
            <% if @recipe.is_reservation_enable %>
              <h3>
                <a href="<%= new_app_reservation_path(current_app, @recipe, user_id: current_app_user.id, email: @recipe.chef.admin_user.email, recipe_id: @recipe.id, type: "reservation") %>" class="btn btn-success">
                  <%= t('reservations.make_reservation')%>
                </a> 
              </h3>
            <% end %>
            <% if @recipe.is_ask_catering_enable %>
              <h3>
                <a href="<%= new_app_reservation_path(current_app, @recipe, user_id: current_app_user.id, email: @recipe.chef.admin_user.email, recipe_id: @recipe.id, type: "catering") %>" class="btn btn-success">
                  <%= t('reservations.make_catering') %>
                </a> 
              </h3>
            <% end %>
          <% end %>
          <% unless @recipe.price.zero? %>
            <h3>
              <%= link_to image_tag('buy_gift_card.jpg', size: "240x130"), current_app_user ? new_app_gift_card_path(current_app) : new_app_user_registration_path(current_app) %>
            </h3>
          <% end %>
          <div class="row justify-content-center mt-2 margin-bottom-21">
            <ul class="dots">
              <li class="text-success"></li>
              <li class="text-success"></li>
              <li class="text-success"></li>
              <li class="text-success"></li>
              <li class="text-success"></li>
            </ul>
          </div>
          <%= render 'shared_links' %>
          <%#= link_to like_app_recipe_path(current_app, @recipe, like: true), method: :post, :style => "font-size:30px; color: #337ab7 !important" do %>
            <!-- <i class="glyphicon glyphicon-thumbs-up" ></i> -->
            <!-- &nbsp; -->
            <%#= @recipe.thumbs_up_total %>
          <%# end %>
          <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
          <%#= link_to like_app_recipe_path(current_app, @recipe, like: false), method: :post,:style => "font-size:30px; color: #337ab7 !important" do %>
            <!-- <i class="glyphicon glyphicon-thumbs-down"></i> -->
            <!-- &nbsp; -->
            <%#= @recipe.thumbs_down_total %>
          <%# end %> 
        </center>
      </div>
    <% end %>
  <% end %>
</div>

<center>
  <h5 class="margin-bottom-30">
    <% if session[:user_role] == 'super_admin' %>
      <%= link_to t('recipes.return_to_recipes_listing'), allrecipe_path, class: 'btn btn-primary btn-lg', style: "color:white !important" %>
    <% else %>
      <%= link_to t('recipes.return_to_recipes_listing'), app_recipes_path(current_app), class: 'btn btn-primary btn-lg', style: "color:white !important" %>
    <% end %>
  </h5>
  <br><br><br><br><br>
</center>

<div class="w-100 text-center buy-button">
  <% unless @recipe.price.zero? %>
    <% unless @recipe.is_draft %>
      <%= button_to line_items_path(recipe_id: @recipe.id), params: { app: current_app.slug }, class: "btn btn-#{@current_cart.line_items.count == 0 ? 'secondary' : 'success'} btn-lg", style: 'font-family: WhitneySSm;' do %>
        <%= @current_cart.line_items.count == 0 ? t('recipes.start_order') : t('recipes.add_to_cart') %> <span class="fa fa-shopping-cart"></span>
      <% end %>
    <% else %>
      <%= link_to t('recipes.add_to_cart'), new_app_user_registration_path(current_app), { class: 'btn btn-success btn-lg'} %>
    <% end %>
  <% end %>
</div>
