<style>
  .buy-button form{
    padding: 5px !important;
  }
  .fa-shopping-cart { 
    transform: scale(-1, 1);
  }
  .recipe-title {
    font-family: MillerDisplay-Roman;
    display: inline-grid;
  }
   .pull-center{
    bottom: 40px;
    position: absolute;
  }

  @media screen and (max-width: 430px) {
    .pull-center{
      bottom: 10px;
    }
  }
  .buy-button{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index:100;
  }
  .box-content-font {
    padding-left: 10px;
    padding-right: 10px;
  }
  img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
  }
  .recipe-detail .image-box-shadow {
    height: 310px !important;
   }  
  .buy-button button {
    padding: 10px 25px;
    background: #6ee06e;
    background-image: -webkit-linear-gradient(top, #6ee06e, #449d44);
    background-image: -moz-linear-gradient(top, #6ee06e, #449d44);
    background-image: -ms-linear-gradient(top, #6ee06e, #449d44);
    background-image: -o-linear-gradient(top, #6ee06e, #449d44);
    background-image: linear-gradient(to bottom, #6ee06e, #449d44);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .buy-button button:hover {
    background: #64dc3b;
    background-image: -webkit-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -moz-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -ms-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -o-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: linear-gradient(to bottom, #64dc3b, #64dc3b);
    text-decoration: none;
  }
  .my-cart{
    padding: 10px 25px;
    background: #6ee06e;
    background-image: -webkit-linear-gradient(top, #6ee06e, #449d44);
    background-image: -moz-linear-gradient(top, #6ee06e, #449d44);
    background-image: -ms-linear-gradient(top, #6ee06e, #449d44);
    background-image: -o-linear-gradient(top, #6ee06e, #449d44);
    background-image: linear-gradient(to bottom, #6ee06e, #449d44);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .my-cart:hover{
    background: #64dc3b;
    background-image: -webkit-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -moz-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -ms-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -o-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: linear-gradient(to bottom, #64dc3b, #64dc3b);
    text-decoration: none;
  }
  .margin-top-18{
   margin-top: 18px !important;
  }
  .margin-bottom-30{
    margin-bottom: 30px !important;
  }
  .margin-bottom-21{
    margin-bottom: 21px !important;
  }
  .recipes-q h3:nth-child(1) {
    margin-bottom: 40px;
  }
  .dots{
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }
  .dots li{
    width: 10px;
    height: 10px;
    font-size: 20px;
    padding: 0 9px;
  }
  .price-tag{
    color: black ;
    background-color: white ;
    border: 2px outset ;
    font-family: serif;
    padding: 5px;
    border-radius: 8px;
  }
  .btn-success{
    border-radius: 8px;
  }
  .collapsible-item-title, .collapsible-item-body {
    text-align: center !important;
  }
  .gift-card-styling{
    width: max-content;
    padding: 15px;
    border: 1px solid #9999994f;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  }
  .gift-card-title{
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #808080 !important;
    text-decoration: none !important;
  }
  .gift-card-title:hover {
    text-decoration: none !important;
  }
  /* Dropdown CSS Start */
  .collapsible-item-title-link-icon{
    display: none;
  }
  .panel-default{
    border: none;
    box-shadow: none;
  }
  .panel-heading{
    border: none;
    background: none !important;
  }
  .panel-title{
    text-align: center;
  }
  .panel-title a{
    color: #007bff !important;
    text-decoration: none;
  }
  .collapsible-item-title-link svg{
    margin-left: 5px;
  }
  .reservation-btn{
    bottom: 0 !important;
    left: 0;
    right: 119px;
  }
  /* Dropdown CSS End */
  @media screen and (min-width: 768px) {
    .mr-8 {
      margin-right: 80px;
    }
   .col-md-3.thumb-sec {
      position: absolute;
      right: -34% !important;
      top: 0;
    }
    .thumb-sec{
      max-width: 33.33% !important;
    }
    .col-md-3 {
      max-width: 35%;
    }
    .recipe-detail .image-box-shadow {
      padding: 5px;
    }
  }
   @media (max-width: 767px){
    .top-space .box-inner-sec.box-content {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
   @media (max-width: 768px) and (min-width: 280px) {
    .recipe-name {
      margin-top: 65px;
    }
  }
  @media screen and (width: 540px) {
    .recipe-detail .thumb-sec .image-box-shadow {
      margin-top: 15px !important;
    }
    .recipe-detail .thumb-sec .image-box-shadow img{
      max-height: initial; !important;
    }
    .recipe-margin-sec .top-space {
      margin-top: 80px !important;
    }
  }
  @media (min-width: 913px) and (max-width: 1010px) {
    .reservation-btn-media {
      right: 214px;
    }
  }
  @media screen and (max-width: 600px) {
    .recipe-title {
      color: #f04123;
      text-align: center;
    }
    .recipe-margin-sec .top-space {
      margin-top: 60px;
      margin-bottom: 10px;
    }
    .margin-top-18{
      margin-top: 0px !important;
    }
  }
   @media screen and (width: 540px) {
    .recipe-detail .thumb-sec .image-box-shadow {
      margin-top: 15px !important;
    }
    .recipe-detail .thumb-sec .image-box-shadow img{
      max-height: initial; !important;
    }
  }
  .inventory-bg {
    background-color: #0047AB;
    font-weight: bold;
    color: #FFD302 !important;
    border-radius: 8px;
    padding: 13px 0px;
  }
  .sold-out button {
    background: #F86E8C !important;
    color: #ffffff !important;
    font-size: 40px !important;
    padding: 0px 30px;
    border-radius: 0px !important;
  }
  @media screen and (max-width: 720px) {
    .margin-bottom-40 {
      margin-bottom: 40px;
    }
  }
  @media screen and (max-width: 720px) {
    .margin-bottom-30 {
      margin-bottom: 50px !important;
    }
  }
  @media screen and (max-width: 280px) {
    .margin-bottom-30 {
      margin-bottom: 70px !important;
    }
  }
  @media (min-width: 540px) and (max-width: 720px) {
    .w-50 {
      max-width: 50% !important;
    }
  }
</style>
<div class="recipe-margin-sec top-space">
  <div class="col-md-12 recipe-margin-sec top-space recipe-detail">
    <div class="row mt-4">
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="box-inner-sec well box-content">
          <div class="col-md-3 col-sm-12 col-xs-12 thumb-sec">
            <% if @recipe.food_image.attached? %>
              <div class="image-box-shadow mt-0">
                <%=image_tag(@recipe.food_image, class:'img', alt: t('common.no_image')) %>
              </div>
            <% end %>
          </div>
          <div class="detail-list">
            <% if (@sessioned_user and (@recipe.chef.id == @sessioned_user.id) || @sessioned_user.admin?) %>
              <%= link_to t('recipes.delete_recipe'), app_route(app_recipe_path(current_app, @recipe)), class: "btn btn-danger pull-right  btn-lg", style:"margin-right:100px; font-family: WhitneySSm;",  method: :delete, data: { confirm: t('common.confirm') } %>
            <% end %>
            <% if (@sessioned_user and (@recipe.chef.id == @sessioned_user.id)|| @sessioned_user.admin? ) %>
              <%= link_to t('recipes.edit_recipe'), app_route(edit_app_recipe_path(current_app, @recipe)), class: "btn btn-success pull-right btn-lg edit-btn", style: 'font-family: WhitneySSm;' %>
            <% end %>
          </div>
          <div class="text-center position-absolute reservation-btn reservation-btn-media">
            <% if @recipe.enable_reservation? && current_app.services.present? %>
              <%= link_to t('reservations.scheduling_reservation'), app_route(app_services_path(current_app)), class: "btn btn-lg btn-primary pull-center text-white", style: 'font-family: WhitneySSm;' %>
            <% end %>
          </div>
          <div class="recipe-name">
            <center class="box-content-font" style="margin-bottom:0;">
              <h1 class='recipe-title text-dark'>
                <%= @recipe.name %>
              </h1>
            </center>
          </div>

          <div>
            <% if !@recipe.price&.zero? && @recipe.price.present? %>
              <h2 class="box-content-font" style="margin-top: 15px; margin-bottom: 15px;">
                <span class="price-tag">
                  <%= t('recipes.price') %>: <%= number_to_currency(@recipe.price) %>
                </span>
              </h2>
            <% end %>
            <div style="margin-top: 15px; margin-bottom: 45px;">
              <%= @recipe.description.html_safe %>
            </div>
            <div class="chef_info center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row w-100 justify-content-center m-0">
  <% unless @recipe.is_draft %>
    <% if session[:user_role] != 'super_admin' %>
      <div class="recipes-q margin-top-18">
        <center>
          <% if @sessioned_user && @sessioned_user.id != @recipe.chef.id %>
            <% if @recipe.is_reservation_enable %>
              <h3>
                <a href="<%= app_route(new_app_reservation_path(current_app, @recipe, user_id: @sessioned_user.id, email: @recipe.chef.admin_user.email, recipe_id: @recipe.id, type: "reservation")) %>" class="btn btn-success">
                  <%= t('reservations.make_reservation')%>
                </a> 
              </h3>
            <% end %>
            <% if @recipe.is_ask_catering_enable %>
              <h3>
                <a href="<%= app_route(new_app_reservation_path(current_app, @recipe, user_id: @sessioned_user.id, email: @recipe.chef.admin_user.email, recipe_id: @recipe.id, type: "catering")) %>" class="btn btn-success">
                  <%= t('reservations.make_catering') %>
                </a> 
              </h3>
            <% end %>
          <% end %>
          <% if @recipe.enable_gift_card.present? && @recipe.gift_card_image.present? %>
            <%= link_to @sessioned_user ? app_route(new_app_gift_card_path(current_app, recipe: @recipe)) : app_route(new_app_user_registration_path(current_app)), class: "gift-card-title" do %>
                <div class="gift-card-styling">
                  <%= image_tag(@recipe.gift_card_image, class:'img', alt: t('common.no_image') ,size: "240x130") %>
                  <div><%= t('gift_cards.buy') %></div>
                </div>
              <% end %>
          <% end %>
          <div class="row justify-content-center mt-2 margin-bottom-21">
            <ul class="dots">
              <li class="text-success"></li>
              <li class="text-success"></li>
              <li class="text-success"></li>
              <li class="text-success"></li>
              <li class="text-success"></li>
            </ul>
          </div>
          <%= render 'shared_links' %>
          <%#= link_to like_app_recipe_path(current_app, @recipe, like: true), method: :post, :style => "font-size:30px; color: #337ab7 !important" do %>
            <!-- <i class="glyphicon glyphicon-thumbs-up" ></i> -->
            <!-- &nbsp; -->
            <%#= @recipe.thumbs_up_total %>
          <%# end %>
          <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
          <%#= link_to like_app_recipe_path(current_app, @recipe, like: false), method: :post,:style => "font-size:30px; color: #337ab7 !important" do %>
            <!-- <i class="glyphicon glyphicon-thumbs-down"></i> -->
            <!-- &nbsp; -->
            <%#= @recipe.thumbs_down_total %>
          <%# end %> 
        </center>
      </div>
    <% end %>
  <% end %>
</div>

<center class="margin-bottom-40 mr-5">
  <h5 class="margin-bottom-30">
    <% if session[:user_role] == 'super_admin' %>
      <%= link_to t('recipes.return_to_recipes_listing'), app_route(allrecipe_path(current_app)), class: 'btn btn-primary btn-lg', style: "color:white !important" %>
    <% else %>
      <%= link_to t('recipes.return_to_recipes_listing'), app_route(app_recipes_path(current_app)), class: 'btn btn-primary btn-lg', style: "color:white !important" %>
    <% end %>
  </h5>
  <br><br><br><br><br><br><br>
</center>

<div class="row justify-content-center buy-button">
  <% if !@recipe.price&.zero? && @recipe.price.present? %>
    <% if @sessioned_user %>
      <% unless @recipe.is_draft %>
        <% if !@recipe.is_inventory_count || (@recipe.is_inventory_count && !@recipe.inventory_count.zero?)  %>
          <% if @recipe.is_inventory_count %>
            <div class="<%= @current_cart.line_items.count == 0 ? 'col-8 col-md-6' : 'col-8 px-0' %> text-center w-50">
                <h2 class="inventory-bg shadow m-auto">
                  <span><%= @recipe.inventory_count %></span>
                  <span class="pl-2"><%= t('recipes.available') %></span>
                </h2>
            </div>
          <% end %>
          <div class="<%= @current_cart.line_items.count == 0 ? 'col-md-8' : 'col-md-6' %> text-center">
            <div class="<%= @recipe.is_inventory_count ? 'mr-o' : 'mr-8' %>">
              <%= button_to app_route(app_line_items_path(current_app, recipe_id: @recipe.id)), class: "btn btn-#{@current_cart.line_items.count == 0 ? 'secondary' : 'success'} btn-lg", style: 'font-family: WhitneySSm;' do %>
                <%= @current_cart.line_items.count == 0 ? t('recipes.start_order') : t('recipes.add_to_cart') %> <span class="fa fa-shopping-cart"></span>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @recipe.inventory_count&.zero? && @recipe.is_inventory_count? == true  %>
          <div class="sold-out">
            <button class="btn" style="font-size: 12px;"><%= t('recipes.sold_out') %></button>
          </div>
        <% end %>
      <% else %>
        <div class="<%= @current_cart.line_items.count == 0 ? 'col-md-8' : 'col-md-6' %> text-center">
          <% if @recipe.inventory_count.present? && @recipe.is_inventory_count? == true  %>
            <%= link_to t('recipes.add_to_cart'), app_route(new_app_user_registration_path(current_app)), { class: 'btn btn-success btn-lg mr-8'} %>
          <% else %>
            <div class="sold-out">
              <button class="btn" style="font-size: 12px;"><%= t('recipes.sold_out') %></button>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= link_to app_route(new_app_user_registration_path(@current_app)), class: "btn btn-secondary btn-lg my-cart", style: 'font-family: WhitneySSm;' do %>
        <%= t('recipes.start_order') %>
        <span class="fa fa-shopping-cart"></span>
      <% end %>
    <% end %>
  <% end %>
  <% if @current_cart.present? %>
    <div class="<%= @current_cart.line_items.count == 0 ? 'col-md-0' : 'col-sm-2 col-md-6' %> text-center text-md-left mt-2">
      <% unless @current_cart.line_items.count == 0 %>
        <%= link_to t('recipes.my_cart'), app_route(app_cart_path(@current_app, id: @current_cart.id)), class: "btn btn-lg btn-success my-cart w-100" %>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('[type="#_x0000_t202"]').each(function() {
    $( this ).addClass( "d-none" );
  });
</script>
