
<style>
  .margin-sec .box-content {
    padding: 20px !important;
  }
  .wrapper {
      margin-top: 50px;
      width: 100%;
      margin-bottom: 0px;
  }
  .box-content input.btn {
      margin-top: 0px!important; 
  }
  .form-control{
    font-size: 18px !important;
  }
  .fa-eye{
    padding-top: 7px !important;
  }
  .fa-eye-slash{
    padding-top: 7px !important;
  }
  .btn-success{
    border-radius: 8px;
  }
  .box-content{
    float: none !important;
  }
  .heading{
    margin-top: 10px;
  }

  @media screen and (min-width: 280px) and (max-width: 540px) {
    .heading{
      margin-top: 85px
    }
  }
  @media screen and (min-width: 280px) and (max-width: 912px) {
    .heading{
      margin-top: 85px
    }
  }
  #error_explanation ul{
    margin-left: 15px;
  }
</style>
<div class="heading">
  <center><h2>Change your password</h2></center>
</div>
<div class="row">
  <div class="col-md-offset-4 login-sec margin-sec full-width-sec edit-chef">
    <div class="col-md-6  well box-content">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <%= devise_error_messages! %>
        <div class="field show-password">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <div class="row" style="padding-right: 13px">
            <div class="col-11 p-0">
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class='input-group-addon col-1 p-0' style="height:36px;">
              <a href="" class="toggle-password">
                <i class="fa fa-eye"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="field show-password mb-3">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <div class="row" style="padding-right: 13px">
            <div class="col-11 p-0">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
            <div class='input-group-addon col-1 p-0' style="height:36px;">
              <a href="" class="toggle-password">
                <i class="fa fa-eye"></i>
              </a>
            </div>
          </div>
        </div>
      
        <div class="actions"> 
          <%= f.submit "Change my password", class: "btn btn-success btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
<div>
