<div class="login-header">
<h1><%= t 'questions.ask_question' %></h1>
<hr>
</div>

<%= render 'shared/errors', obj: @question %>

<div class="row">
  <div class="well col-md-5 col-md-offset-4 login-sec">

    <%= form_for @question do |f| %>
      <label for="question_email">
        <%= t 'questions.email_to_colon', email: (@question.email.present? ? @question.email : @email) %>
      </label>
      <br>
      <%= f.label :subject, t('forms.subject') %>
      <%= f.text_field :subject %>

      <%= f.label :body, t('forms.body') %>

      <%= f.text_area(:body, size: '50x10') %>

      <%= f.hidden_field :email, value:  (@question.email.present?) ? @question.email: @email %>
      <%= f.hidden_field :user_id, value: (@question.user_id.present?) ? @question.user_id: @user_id   %>
      <%= f.hidden_field :recipe_id, value: (@question.recipe_id.present?) ? @question.recipe_id: @recipe_id %>

      <%= f.submit t('forms.submit'), class: "btn btn-success" %>
    <% end %>
  </div>
</div>

