<style>
  @media screen and (max-width: 600px) {
    .category-page-title {
      margin-top: <%= @sessioned_user ? '70px' : '10px' %>;
    }
  }
  ul.listing li {
    width: 150px !important;
  }
</style>

<div class="category-page-title">
  <%= render 'shared/page_title', title: t('common.ingredients') %>
</div>

<div align="center">
  <div style='display: table'>
    <%= will_paginate %>
  </div>
  <% @ingredients.each do |ing| %>
    <ul class="listing">
      <div class="row justify-content-center">
        <div class="well p-0">
          <li class="chef-title"><%= link_to ing.name.capitalize, app_route(app_ingredient_path(current_app, ing)) %>, </li>
          <% recipes_count = @sessioned_user&.admin? ? ing.recipes.count : ing.recipes.where(is_draft: false).count %>
          <li><%= pluralize(recipes_count, "service") if ing.recipes %></li>
          <li><%= link_to t('common.edit'), app_route(edit_app_ingredient_path(current_app, ing)) %></li>
          <li><%= link_to t('common.delete'), app_route(app_ingredient_path(current_app, ing)), method: :delete, data: { confirm: t('common.confirm') } %></li>
        </div>
      </div>
    </ul>
  <% end %>
  <div style='display: table'>
    <%= will_paginate %>
  </div>
</div>