<%= render 'shared/page_title', title: "Ingredients" %>

<div align="center">
  <div style='display: table'>
    <%= will_paginate %>
  </div>
  <% @ingredients.each do |ing| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <li class="chef-title"><%= link_to ing.name.capitalize, app_ingredient_path(current_app, ing) %>, </li>
          <li><%= pluralize(ing.recipes.count, "recipe") if ing.recipes %></li>
          <% if logged_in? && current_app_user.admin? %>
            <li><%= link_to "Edit", edit_app_ingredient_path(current_app, ing) %></li>
            <li><%= link_to "Delete", [current_app, ing], method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <div style='display: table'>
    <%= will_paginate %>
  </div>
</div>