<style>
  .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .col-xs-8 {
    padding-left: 5px;
    padding-right: 5px;
  }
  img {
    width: 100%;
  }
  .col-xs-8 {
    width: 100%;
    height: auto;
  }
  .col-md-8 {
    width: 100%;
    height: auto;
  }
  .col-lg-4 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .col-xs-6 {
    width: 50%;
  }
  .category-title {
    font-weight: 400;
    color: #808080;
  }
  .category-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 90%;
  }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .category-style {
      width: 100% !important;
      height: 180px !important;
    }
    .page-title {
      margin-top: 3%;
    }
  }
  @media screen and (min-width: 1024px) {
    .category-style {
      width: 100% !important;
      height: 260px !important;
    }
  }
  @media screen and (max-width: 600px) {
    .page-title {
      margin-top: <%= app_user_signed_in? ? '80px' : '10px' %>;
    }
  }
</style>

<div class="page-title">
  <p><%= link_to t('forms.new_ingredient'), new_app_ingredient_path(@current_app), class: "btn btn-success float-right", style: "margin-right: 20px; margin-left: -10%;" %></p>
  <%= render 'shared/page_title', title: "Ingredients" %>
</div>

<div class="ingredient-sortable row">
  <% @ingredients.each_with_sortable_id do |ingredient, sortable_id| %>
    <div class="col-lg-4 col-md-6 col-xs-6 mb-1" id="<%= sortable_id %>" data-ingredient-id="<%= ingredient.id %>">
      <div class="margin-sec top-recepi top-space h-100">
        <div class="box-inner-sec well box-content h-100">
          <div class="col-lg-1 col-md-2 col-xs-2">
          </div>
          <% if ingredient.image.attached? %>
            <%= link_to app_ingredient_path(@current_app, ingredient) do %>
              <div class="col-lg-10 col-md-8 col-xs-8">
                <% image = ingredient.sized(:image, :thumb) %>
                <%=image_tag(image, class:'category-style', size: "140x100", alt: t('common.no_image')) if image.present? %>
              </div>
            <% end %>
          <% end %>
          <div class="col-lg-1 col-md-2 col-xs-2">
          </div>
          <div class="col-lg-12 col-md-12 col-xs-12">
            <h2 style="text-align: center; margin-bottom: 0 !important;">
              <%= link_to ingredient.name.capitalize, app_ingredient_path(@current_app, ingredient), class: 'category-title' %>
            </h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(".ingredient-sortable").on( "sortupdate", function( event, ui ) {
    var elements = $('.ingredient-sortable .ui-sortable-handle');
    var ingredients = [];
    $.each(elements, function( index, value ) {
      var ingredient_id = $(value).data("ingredient-id");
      var ingredient = { id: ingredient_id }
      ingredients.push(ingredient);
    });
    $.ajax({
      method: "POST",
      url: "/" + <%= @current_app.id %> + "/ingredients/update_positions",
      data: { elements: ingredients },
      success: function (response) {
      },
    })
  });
</script>
