<style>
  .order-table {
    margin-left: 6%;
    margin-right: 3%;
  }
  table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  td, th {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    padding: 5px 0 5px 0;
    word-break: break-all;
  }
  thead {
    font-weight: bold;
    font-size: 1.2em;
  }
  .order-item {
    text-align: left;
    font-weight: 600;
    font-size: 1.4em;
    max-width: 140px;
    min-width: 60px;
  }
  select {
    width: 180px;
    padding: 0 10px 0 60px;
    border-radius: 5px;
    border: solid 2px <%= order.status == 'active' ? '#93d86e' : '#ff3333' %>;
    background-color: <%= order.status == 'active' ? '#93d86e' : '#ff3333' %>;
    font-size: 1.3em;
  }
  .order-field {
    text-align: center;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  .order-field-height {
    height: 50px !important;
  }
  .line-item-field {
    height: 30px !important;
  }
  .new-order-item {
    text-align: left;
    font-size: 1.4rem;
  }
  #order-button {
    margin-bottom: 10px;
  }
  #print-button {
    position: relative;
    bottom: -10px;
    left: 50%;
  }
  .new-order-select {
    padding: .87rem;
    width: 185px;
  }
  .order-paymethod {
    border: none;
  }

  @media all and (max-width: 600px) {
    .order-item {
      font-size: 1.2em;
    }
    .order-field {
      font-size: 1.2em;
    }
    .new-order-select {
      font-size: 1em;
      width: 120px;
    }
    select {
      width: 120px;
      padding: 0 10px 0 25px;
    }
  }
  .blue-btns a{
    padding: 8px 11px;
  }
  @media print {
    .new-order-item, .remove-recipe, #order-button, .blue-btns, select {
      display: none;
    }
  }
  .remove-recipe{
    font-style: italic;
    font-size: 15px;
    text-decoration: none !important;
  }
  .remove-recipe-column{
    right: 0;
    bottom: 0;
  }
  .order-total-row{
    font-size: 15px;
  }
  input:focus{
    outline: none;
  }
  .note-field{
    margin-top: -2px;
  }
  .line-item-table td{
    vertical-align: top;
  }
  .quantity-field{
    font-size: 18px;
  }
  #greetingMessage h2{
    color: unset;
    text-align: unset;
    font-size: unset;
    font-weight: unset;
    text-transform: unset;
  }
  /* Dropdown CSS Start */
  .collapsible-item-title-link-icon{
    display: none;
  }
  .panel-default{
    border: none;
    box-shadow: none;
  }
  .panel-heading{
    border: none;
    background: none !important;
  }
  .panel-title{
    text-align: center;
  }
  .panel-title a{
    color: #007bff !important;
    text-decoration: none;
  }
  .collapsible-item-title-link svg{
    margin-left: 5px;
  }
  /* Dropdown CSS End */
  @media (min-width: 280px) and (max-width: 912px) {
    .order-buttons {
      padding: 0px !important;
    }
  }
</style>

<%= form_with(model: order, url: order.new_record? ? app_create_staff_order_path(current_app) : app_order_path(id: order, app: current_app.slug), local: true, html: { id: "staff_order" } ) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <ul style="padding-left: 5%;">
      <% order.errors.full_messages.each do |message| %>
        <li style="font-size: 12px; color: red;"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="order-table">
      <table>
        <tbody>
          <tr>
            <td colspan="2">
              <h1>
                <%= current_app_user.business_name %>
              </h1>
              <p class="text-center mb-0">
                <%= current_app_user.store_address %>
              </p>
              <p class="text-center mb-0">
                <span><%= "#{current_app_user.city}," if current_app_user.city.present? %></span>
                <span><%= "#{current_app_user.state}," if current_app_user.state.present? %></span>
                <span><%= "#{current_app_user.postal_code}" if current_app_user.postal_code.present? %></span>
              </p>
              <p class="text-center mb-0">
                <%= current_app_user.phone %>
              </p>
              <p class="text-center mb-0">
                <%= current_app_user.email %>
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="mb-0 text-center">
                <span class="font-weight-bold"><%= "#{current_app_user.full_name.titleize} - " "#{order.new_record? ? "New Order" : "Order ##{order.id},"}" %></span>
                <span><%= "--- #{order.created_at.strftime("%m/%d/%y")} - #{order.created_at.strftime("%I:%M %p")}" unless order.new_record? %></span>
              </p>
            </td>
          </tr>
          <% if order.new_record? %>
            <tr>
              <td colspan="2"><%= form.text_field :name, class: 'order-field order-field-height', id: 'new_order_name', placeholder: t('orders.client_name') %></td>
            </tr>
            <tr>
              <td colspan="2"><%= form.email_field :email, class: 'order-field order-field-height', id: 'new_order_email', placeholder: t('orders.email') %></td>
            </tr>
            <tr>
              <td colspan="2"><%= form.text_field :phone, class: 'order-field order-field-height', id: 'new_order_phone', placeholder: t('orders.phone') %></td>
            </tr>
            <tr>
              <td colspan="2"><%= form.text_area :address, class: "order-field order-field-height", id: 'new_order_address', placeholder: t('orders.home_address') %></td>
            </tr>
          <% else %>
            <tr>
              <td colspan="2" class="text-left"><%= order.name if order.name.present? %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-left"><%= order.email if order.email.present? %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-left"><%= order.phone if order.phone.present? %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-left"><%= order.address if order.address.present? %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="2" class="text-center">
              <div class="row field">
                <div class="text-center w-100">
                  <%= link_to_add_association t('orders.add_product'), form, :line_items, { "data-association-insertion-node": '#new-items',
                              class: 'btn btn-lg btn-outline-primary new-order-item',
                              onmouseover: 'changeNewRecipe();',
                              onmouseout: order.new_record? ? '' : 'addRecipeForm();' } %>
                </div>
              </div>
              <div class="row field" id="new-items"></div>
            </td>  
          </tr>
          <tr>
            <td colspan="2">
            <%= form.fields_for :line_items, @order.line_items.order(:created_at) do |line_item| %>
              <%= render 'line_item_fields', f: line_item %>
            <% end %>
            </td>
          </tr>
          <tr>
            <td class="text-right order-item" width="50%"><%= t('orders.subtotal') %></td>
            <td class="text-right pl-5"><%= number_to_currency(order.sub_total) %></td>
          </tr>
          <tr>
            <td class="text-right order-item"><%= t('orders.tax') %></td>
            <% if order.new_record? %>
              <td class="text-right"><%= t('orders.tax_desc') %></td>
            <% else %>
              <td class="text-right text-left pl-5"><%= number_to_currency(order.total_tax) %></td>
            <% end %>
          </tr>
          <tr>
            <% if order.new_record? %>
              <td class="text-right order-item"><%= t('orders.delivery') %></td>
              <td class="text-right pl-5"><%= form.check_box :delivery_price, class: '', id: "delivery-checkBox" %></td>
            <% elsif !order.delivery_price.zero? %>
              <td class="text-right order-item"><%= t('orders.delivery') %></td>
              <td class="text-right pl-5"><%= number_to_currency(order.delivery_price) %></td>
            <% end %>
          </tr>
          <tr>
            <td class="text-right order-item"><%= t('orders.tip') %></td>
            <td class="text-right pl-5"><%= form.number_field :tip_value, class: 'order-field line-item-field w-50', step: 1, min: 0 %></td>
          </tr>
          <tr>
            <% if order.new_record? %>
              <td class="text-right order-item"><%= t('recipes.coupone_code') + ' / ' + t('orders.discount') %></td>
              <td class="pl-5 font-weight-bold"><%= form.text_field :coupon_code, class: 'order-field line-item-field', id: 'coupon_code_input', onblur: 'checkCoupon();' %></td>
            <% elsif order.coupon_code.present? %>
              <td class="text-right order-item"><%= t('recipes.coupone_code') + ' / ' + t('orders.discount') %></td>
              <td class="text-right pl-5"><%= order.coupon_code + ' / ' + number_to_currency(order.coupon_discount) %></td>
            <% end %>
          </tr>
          <tr>
            <% if order.new_record? %>
              <td class="text-right order-item"><%= t('recipes.fundraising_code') %></td>
              <td class="pl-5 font-weight-bold"><%= form.text_field :fundrasing_code, class: 'order-field line-item-field', id: 'fundrasing_code_input', onblur: 'checkFundCoupon();' %></td>
            <% elsif order.fundrasing_code.present? %>
              <td class="text-right order-item"><%= t('recipes.fundraising_code') %></td>
              <td class="text-right pl-5"><%= order.fundrasing_code %></td>
            <% end %>
          </tr>
          <tr class="order-total-row">
            <td class="text-right order-item"><%= t('recipes.total') %></td>
            <% if order.new_record? %>
              <td class="text-right font-weight-bold">$0.00</td>
            <% else %>
              <td class="text-right pl-5 font-weight-bold">
                <%= number_to_currency(order.amount&./100.0) %>  
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="text-right order-item"><%= form.label :pay_method, t('orders.pay_method') %></td>
            <td class="text-right pl-5 font-weight-bold">
              <% if order.new_record? %>
                <% if is_payment_method?('cash') %>
                  <%= form.submit t('orders.cash'), name: "cash", class: "btn btn-success btn-lg w-100 my-2 order-button", disabled: @current_cart.line_items.count == 0 %>
                <% end %>
                <% if @gift_card.present? %>
                  <%= form.hidden_field :gift_card_id, value: @gift_card.id %>
                  <%= form.submit t('orders.gift_card'), name: "gift_card", class: "btn btn-info btn-lg w-100 order-button mt-2", disabled: @current_cart.line_items.count == 0 %>
                <% end %>
                <% if is_payment_method?('paypal') && @paypal_client_id.present? && @paypal_client_secret.present? %>
                  <div id="paypal-button-container" class="mt-2"></div>
                <% end %>
                <% if is_payment_method?('stripe') && @stripe_publishable_key.present? && @stripe_secret_key.present? %>
                  <%= form.submit t('orders.stripe'), name: "stripe", class: "btn btn-primary btn-lg order-button my-2 w-100", disabled: @current_cart.line_items.count == 0 %>
                <% end %>
              <% else %>
                <%= order.pay_method %>
              <% end %>
            </td>
            <%# if order.new_record? %>
            <%# else %>
              <!-- <td class="text-right pl-4"><%#= form.text_field :pay_method, class: 'text-left order-field order-field-height order-paymethod ml-1', id: 'staff-order-paymethod', readonly: true %></td> -->
            <%# end %>
          </tr>
          <tr>
            <td colspan="6" class="order-item pb-4 text-center">
              <div class="row justify-content-center">
                <% if order.new_record? %>
                  <% btn_text = t('orders.create') %>
                   <%= form.submit btn_text, class: 'btn btn-lg btn-primary mb-0', id: 'order-button', onmouseover: 'changeNewRecipe(); changeQuantity();' %>
                <% else %>
                  <div class="col-lg-3 col-sm-12 mb-3 order-buttons">
                    <%  t('orders.save') %>
                    <%= form.submit btn_text, class: 'btn btn-lg btn-primary mb-0 w-100', id: 'order-button', onmouseover: 'changeNewRecipe(); changeQuantity();' %>
                  </div>
                <% end %>
                <% unless order.new_record? %>
                  <div class="col-lg-9 col-sm-12 blue-btns mb-3 order-buttons">
                    <div class="row">
                      <div class="col-lg-4 col-sm-12 mb-3 order-buttons">
                        <a href="#" onclick="window.print();return false;" class='btn btn-lg btn-info w-100'><%= t('forms.print') %></a>
                      </div>
                      <div class="col-lg-4 col-sm-12 mb-3 order-buttons">
                        <%= link_to t('forms.email'), app_send_order_email_path(order: order), class: 'btn btn-lg btn-info w-100' %>
                      </div>
                      <div class="col-lg-4 col-sm-12 mb-3 order-buttons">
                        <%= link_to t('orders.delete'), app_order_path(order: order), method: :delete, class: 'btn btn-lg btn-danger w-100', data: { confirm: t('common.confirm') } %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
          <% unless order.new_record? %>
            <tr>
              <td colspan="2"><%= form.select :status, Order.statuses.collect { |key, value| [key.capitalize, key] }, { class: 'order-status' } %></td>
            </tr>
          <% end %>
          <tr class="pt-3" id="greetingMessage">
            <td colspan="2">
              <%= current_app_user.greeting_message.html_safe %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% enable_venmo_btn = "&enable-funding=venmo" if is_payment_method?('venmo') && @paypal_client_id.present? && @paypal_client_secret.present? %>
<%= javascript_include_tag "https://www.paypal.com/sdk/js?client-id=#{@paypal_client_id}#{enable_venmo_btn}&disable-funding=card,paylater" %>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var paypalEnv = "<%= Rails.configuration.paypal[:env] %>"
  var totalAmount = "<%= order&.amount&./100.0 %>"
  var newOrder = "<%= order.new_record? ? '1' : '0' %>"
  var orderBtn = document.getElementById("order-button");
  // var formOrderName = document.getElementById("new_order_name");
  // var formOrderEmail = document.getElementById("new_order_email");
  // var formOrderPhone = document.getElementById("new_order_phone");
  // var formOrderAddress = document.getElementById("new_order_address");

  function changeNewRecipe() {
    orderItems = document.querySelectorAll('[id ^= "order_line_items_attributes_"]');
    if (orderItems.length > 0) {
      orderBtn.disabled = false;
    } else {
      orderBtn.disabled = true;
    }
  }

  function removeNewRecipe() {
    orderItems = document.querySelectorAll('[id ^= "order_line_items_attributes_"]');

    if (orderItems.length > 3) {
      orderBtn.disabled = false;
    } else {
      orderBtn.disabled = true;
    }
  }

  // document.querySelectorAll('#new_order_name, #new_order_email, #new_order_phone, #new_order_address').forEach(event => {
  //   event.addEventListener('change', () => {
  //     orderItems = document.querySelectorAll('[id ^= "order_line_items_attributes_"]')
  //     if (orderItems.length > 0 && formOrderName.value.length > 0 && formOrderEmail.value.length > 0 && formOrderPhone.value.length > 0 && formOrderAddress.value.length > 0) {
  //       orderBtn.disabled = false;
  //     } else {
  //       orderBtn.disabled = true;
  //     }
  //   })
  // })

  function changeQuantity() {
    orderItems = document.querySelectorAll('[id ^= "order_line_items_attributes_"]');

    Array.from(orderItems).some((element) => {
      if (element.type === 'number') {
        if (parseInt(element.value, 10) >= 1 && parseInt(element.value, 10) !== NaN) {
          orderBtn.disabled = false;
        } 
        else {
          return orderBtn.disabled = true;
        }
      }
    });
  }

  function addRecipeForm() {
    paypalBtn = document.getElementById("paypal-button-container");
    paypalBtn.style.display = 'none';
  }

  function changeRecipeForm() {
    orderForm = document.getElementById("staff_order");
    orderForm.submit();
  }

  function changeQuantityRecipeForm() {
    orderForm = document.getElementById("staff_order");
    orderForm.submit();
  }

  function checkCoupon() {
    var checkCouponInput = document.getElementById("coupon_code_input");

    fetch("/check-coupon", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 'coupon_code': checkCouponInput.value }),
    })
    .then(function (response) {
      return response.json();
    })
    .then(function (result) {
      var couponCode = document.getElementById("coupon_code_input");
      if (result.error) {
        couponCode.setCustomValidity(result.error);
        couponCode.reportValidity();
        couponCode.value = "";   
      } else {
        couponCode.style.border = '2px solid lime'
        return result;
      }
    })  
    .catch(function (error) {
      console.log("Error: ", error);
    })
  }

  function checkFundCoupon() {
    var checkFundCouponInput = document.getElementById("fundrasing_code_input");

    fetch("/check-fundrasing", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 'coupon_code': checkFundCouponInput.value }),
    })
    .then(function (response) {
      return response.json();
    })
    .then(function (result) {
      var couponCode = document.getElementById("fundrasing_code_input");
      if (result.error) {
        couponCode.setCustomValidity(result.error);
        couponCode.reportValidity();
        couponCode.value = "";   
      } else {
        couponCode.style.border = '2px solid lime'
        return result;
      }
    })  
    .catch(function (error) {
      console.log("Error: ", error);
    })
  }

  $('#delivery-checkBox').on('click', function() {
    if (this.checked) {
      $('#new_order_address').removeClass('d-none');
    } else {
      $('#new_order_address').addClass('d-none');
    }
  });

  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '77.44' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
          }
        }]
      });
    },

    // Finalize the transaction after payer approval
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            var transaction = orderData.purchase_units[0].payments.captures[0];
            alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

        // When ready to go live, remove the alert and show a success message within this page. For example:
        // var element = document.getElementById('paypal-button-container');
        // element.innerHTML = '';
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }
  }).render('#paypal-button-container');
</script>