<div class="field my-2 nested-fields">
  <table class="table table-bordered">
    <tr>
      <td colspan="4" class="px-0 pt-2 pb-0">
        <% if f.object.recipe || f.object.gift_card %>
          <%= f.label :name, f.object.gift_card ? f.object&.gift_card&.name : f.object&.recipe&.name %>
        <% else %>
          <% recipes = recipes_for_staff_order(@order) %>
          <%= f.select :recipe_id, recipes.collect  {|p| [ p.name.truncate_words(3), p.id ] }, {}, class: 'order-field border-0', onblur: @order.new_record? ? '' : 'changeRecipeForm();', onfocusout: 'changeNewRecipe();' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="p-0">
        <%= f.text_field :note, class: 'order-field border-0', placeholder: t('line_items.note') %>
      </td>
    </tr>
    <tr>
      <% if f.object.recipe.present? %>
        <td class="p-0 pt-3" width="25%">
          <%= f.object.recipe.price %>
        </td>
      <% end %>
      <td class="p-0 quantity-field" width="30%">
        <%= f.number_field :quantity, class: 'order-field border-0', step: 1, min: 1, max: 9999, onchange: 'changeQuantity();',
                                                     onfocusout: @order.new_record? ? '' : 'changeQuantityRecipeForm();'  %>
      </td>
      <% if f.object.recipe.present? %>
        <td class="p-0 pt-3" width="25%">
          <%= number_with_precision(f.object.recipe.price * f.object.quantity, :precision => 2) %>
        </td>
      <% end %>
      <td class="px-0" width="20%">
        <%= link_to_remove_association "X", f, { class: 'remove-new-recipe btn btn-lg btn-outline-danger',
                                               onmousedown: 'removeNewRecipe();',
                                               onfocusout: @order.new_record? ? '' : 'changeRecipeForm();' } %>
      </td>
    </tr>
  </table>
</div>