<div id="searchOrdersSection" class="mb-3">
  <div class="card">
    <div class="card-header p-0" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-lg collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <%= t('orders.search_order') %>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#searchOrdersSection">
      <div class="card-body">
        <%= form_tag(app_orders_path, method: :get, remote: true) do |f| %>
          <div class="form-group row my-4 mx-3">
            <div class="col-md-2 col-sm-4 mt-2">
              <h3>
                <%= t('orders.created_at_from') %>
              </h3>
            </div>
            <div class="col-md-3 col-sm-6">
              <%= date_field_tag :'search[start_date]', '', class: "form-control w-100" %>
              <span id="startDateError" ></span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 col-sm-4 mt-2">
              <h3>
                <%= t('orders.created_at_to') %>
              </h3>
            </div>
            <div class="col-md-3 col-sm-6 ">
              <%= date_field_tag :'search[end_date]', '', class: "form-control w-100" %>
               <span id="endDateError"></span>
            </div>
          </div>
          <div class="form-group row my-4 mx-3">
            <div class="col-md-2 col-sm-4">
              <h3>
                <%= t('orders.archived') %>
              </h3>
            </div>
            <div class="col-md-3 col-sm-6">
              <%= check_box_tag :'search[status]' %>
            </div>
          </div>
          <div class="form-group row my-4 mx-3">
            <%= submit_tag t('orders.search'), class: "btn btn-lg btn-primary searchbutton" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="text-primary" id="searchedOrders"></div>

