<style>
  table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dadada;
    font-size: 1.2em;
  }
  thead {
    font-weight: bold;
    font-size: 1.3em;
  }


  .checkout {
    font-size: 1.7em;
    font-weight: bold;
  }
  .home-delivery {
    width: 80%;
    text-align: right;
    border: none;
    color: #8c8b8b;
    font-size: 1em;
    font-weight: normal;
  }
  .delivery-price {
    color: #8c8b8b;
    border: none;
    border-bottom: 2px solid #8c8b8b;
  }
  .subtotal {
    width: 80%;
    border: none;
    text-align: right;
  }
  .subtotal-price {
    border: none;
    border-bottom: 2px solid black;
  }
  .total {
    width: 80%;
    border: none;
    text-align: right;
  }
  .total-price {
    border: none;
    border-bottom: 2px solid black;
  }

  .order-button {
    border: none;
  }
  .empty-cart {
    float: right;
    margin-top: 5px;
  }
  .order {
    float: right;
    margin-top: 5px;
  }
</style>

<div>
  <h1 class="title"><%= t('recipes.my_cart') %></h1>
  <table>
    <thead>
      <tr>
        <td colspan="3"><%= t('recipes.product_name') %></td>
        <td class="price-header" colspan="2"><%= t('recipes.price') %></td>
        <td class="quantity-header" colspan="2"><%= t('recipes.quantity') %></td>
        <td class="total-header" colspan="3"><%= t('recipes.sub_total') %></td>
      </tr>
    </thead>
    <tbody>
    <% @current_cart.line_items.order(:created_at).each do |line_item| %>  
      <tr>
        <td colspan="3">
          <h4><%= line_item.recipe.name %></h4>
        </td>
        <td colspan="2" class="price-item"><%= "%0.2f" % (line_item.recipe.price.to_f) %>$</td>
        <td colspan="2">
          <div>
            <div>
              <span id="quantity"><%= line_item.quantity %></span>
            </div>
            <div class="quantity-arrow">
              <%= button_to line_item_add_path(id: line_item, recipe_id: line_item.recipe.id), class: 'change-item-up btn', remote: true, method: :post do %>
                <span class="fa fa-sort-up"></span>
              <% end %>
              <%= button_to line_item_reduce_path(id: line_item, recipe_id: line_item.recipe.id), class: 'change-item-down btn', remote: true, method: :post do %>
                <span class="fa fa-sort-down"></span>
              <% end %>
            </div>
          </div>
        </td>
        <td colspan="2" class="total-item"><%= "%0.2f" % (line_item.quantity * line_item.recipe.price.to_f) %>$ </td>
        <td class="remove-item"><%= button_to "x", line_item_path(line_item, recipe_id: line_item.recipe.id), class: "remove-item-btn btn btn-outline-danger", remote: true, method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div>
    <p class="coupon-code"><%= text_field_tag 'coupon-input', nil, placeholder: 'Coupon code' %></p>
    <p class="fundraising-code"><%= text_field_tag 'fundraising-input', nil, placeholder: 'Fundraising Code' %></p>
  </div>
  <table class="checkout">
    <tr>
      <td class="home-delivery"><%= t('recipes.home_delivery') %>: </td>
      <td class="delivery-price"><%= number_to_currency(@current_cart.sub_total) %></td>
    </tr>
    <tr>
      <td class="subtotal"><%= t('recipes.subtotal') %>: </td>
      <td class="subtotal-price"><%= number_to_currency(@current_cart.sub_total) %></td>
    </tr>
    <tr>
      <td class="total"><%= t('recipes.total') %>: </td>
      <td class="total-price"><%= number_to_currency(@current_cart.sub_total) %></td>
    </tr>
    <tr>
      <td colspan="2" class="order-button"><%= button_to t('recipes.proceed_checkout'), new_app_order_path(current_app), class: "order btn btn-primary btn-lg", method: :get, disabled: @current_cart.line_items.count == 0 %></td>
    </tr>
    <tr>
      <td colspan="2" class="order-button"><%= button_to t('recipes.empty_cart'), app_cart_path(app: current_app.slug, id: @current_cart.id, recipe_id: @recipe&.id || @line_item.recipe.id), class: "empty-cart btn btn-danger btn-lg", disabled: @current_cart.line_items.count == 0, method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  </table>
</div>



<%= form_for(@order, url: app_orders_path(current_app), html: { method: :post }) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br>
    <%= f.email_field :phone %>
  </p>
  <p>
    <%= f.label :home_address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>