<style>
  .content {
    padding: 10px;
  }
  .row > form {
    padding: 10px;
  }
  table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  td, th {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #dadada;
  }
  thead {
    font-size: 1.4em;
  }
  .list-header {
    padding: 2px;
    padding-left: 5px;
  }
  .product-item {
    padding: 5px;
    font-size: 1.3em;
  } 
  .total-item {
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }
  .subtotal {
    width: 80%;
    border: none;
    text-align: right;
  }
  .subtotal-price {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
  }
  .form-control {
    font-size: 1.3em;
    text-align: center;
  }
  .order-table {
    border: none;
  }
  .checkout {
    margin-top: 10px;
    font-size: 1.6em;
  }
  .order-button {
    border: none;
  }
  .order {
    float: right;
    margin-top: 5px;
  }
  .email-to {
    border: none;
    font-size: 0.9em;
  }
</style>
  <div class="row">
      <%= form_for(@order, url: app_orders_path(current_app), html: { method: :post }) do |f| %>
      <div class="col-md-offset-4 login-sec margin-sec full-width-sec edit-chef">
        <div class="col-md-5 well box-content">  
          <table>
            <tr>
              <td class="order-table">
                <div class="form-group">
                  <div class="control-label col-md-2">
                    <%= f.label :name, t('orders.full_name') %><br>
                  </div>
                  <div class="col-md-8">
                    <%= f.text_field :name, required: true, autofocus: true, class: "form-control", placeholder: t('orders.full_name') %><br>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="order-table">
                <div class="form-group">
                  <div class="control-label col-md-2">
                    <%= f.label :email, t('orders.email') %><br>
                  </div>
                  <div class="col-md-8">
                    <%= f.email_field :email, required: true, class: "form-control", placeholder: t('orders.email') %><br>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="order-table">
                <div class="form-group">
                  <div class="control-label col-md-2">
                    <%= f.label :phone, t('orders.phone') %><br>
                  </div>
                  <div class="col-md-8">
                    <%= f.text_field :phone, required: true, class: "form-control", placeholder: t('orders.phone') %><br>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="order-table">
                <div class="form-group">
                  <div class="control-label col-md-2">
                    <%= f.label :home_address, t('orders.home_address') %><br>
                  </div>
                  <div class="col-md-8">
                    <%= f.text_field :address, required: true, class: "form-control", placeholder: t('orders.home_address') %>
                    <%= f.text_field :coupon_code, id: 'coupon-id', value: params[:coupon_code], hidden: true %>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-md-offset-4 login-sec margin-sec full-width-sec edit-chef">
    <div class="col-md-5 well box-content">
      <table>
        <thead>
          <tr>
            <td colspan="4" class="list-header"><%= t('orders.list_products') %></td>
          </tr>
        </thead>
        <tbody>
        <% @current_cart.line_items.order(:created_at).each do |line_item| %>  
          <tr>
            <td colspan="3" class="product-item" id="product-item">
              <%= line_item.recipe.name %>, <%= line_item.quantity %>x<%= number_to_currency(line_item.recipe.price) %>
            </td>
            <td class="total-item"><%= "%0.2f" % (line_item.quantity * line_item.recipe.price.to_f) %>$ </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <table class="checkout">
        <tr>
          <td class="subtotal"><%= t('orders.subtotal') %>: </td>
          <td class="subtotal-price"><%= number_to_currency(@current_cart.sub_total) %></td>
        </tr>
        <tr>
          <td class="subtotal"><%= t('orders.tax') %>: </td>
          <td class="subtotal-price"><%= number_to_currency(@current_cart.sub_total * 0) %></td>
        </tr>
        <tr>
          <td class="subtotal"><%= t('orders.total') %>: </td>
          <td class="subtotal-price" id="total-amount"><%= number_to_currency(@current_cart.sub_total) %></td>
        </tr>
        <tr>
          <td colspan="2" class="order-button"><%= f.submit t('orders.checkout'), class: "order btn btn-primary btn-lg", id: 'checkout-button1', disabled: @current_cart.line_items.count == 0 %></td>
        </tr>
        <tr>
          <td class="email-to">Receipt: Email to <b><%= current_app_user.email %></b> or Print: (dropdown list of printers)</td>
          <td class="order-button"><%= f.submit t('orders.send'), class: "order btn btn-primary btn-lg", id: 'checkout-button1', disabled: true %></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>
