
<style>
  .footer3 {
    width: 100%;
    float: left;
    background-color: #344a64!important;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 99;
    margin: 0 0 0 0;
  }

  .footer3 p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
  }
  #message {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
  }
  .show-read-more {
      font-size: 20px;
  }
  .show-read-more h1, h2, h3, h4, h5, h6 {
      font-size: 20px !important;
  }
  .page-title {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .text-center {
    margin-bottom: 10px !important;
  }

  .see-meals {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    .see-meals {
      font-size: 16px !important;
    }
  }

  @media (max-width: 480px) {
    .col-md-12 {
        width: 100%;
    }
  }
  #login-btn button, #signup-btn button:nth-child(1) {
    padding: 10px 25px;
    background: #6ee06e;
    background-image: -webkit-linear-gradient(top, #6ee06e, #449d44);
    background-image: -moz-linear-gradient(top, #6ee06e, #449d44);
    background-image: -ms-linear-gradient(top, #6ee06e, #449d44);
    background-image: -o-linear-gradient(top, #6ee06e, #449d44);
    background-image: linear-gradient(to bottom, #6ee06e, #449d44);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  #login-btn button:hover, #signup-btn button:nth-child(1):hover {
    background: #64dc3b;
    background-image: -webkit-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -moz-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -ms-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: -o-linear-gradient(top, #64dc3b, #64dc3b);
    background-image: linear-gradient(to bottom, #64dc3b, #64dc3b);
    text-decoration: none;
  }
  #login-btn a, #signup-btn button:nth-child(1) a {
    background: none !important;
  }
  @media (min-width: 768px) {
    #signup-btn {
      margin-left: 50px;
    }
  }
  #signup-btn button:nth-child(1) {
    padding: 8px 16px;
  }
  @media (min-width: 768px) {
    #signup-btn button:nth-child(1) {
      margin-right: 5px;
    }
  }
  @media (max-width: 400px) {
    #signup-btn button:nth-child(1) {
      margin-bottom: 10px;
    }
  }
  #signup-btn #menubtn {
    padding: 12px 16px;
    margin-left: 5px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
  }
  #signup-btn #menubtn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .dots{
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }
  .dots li{
    width: 10px;
    height: 10px;
    font-size: 20px;
    padding: 9px;
  }
  .custom-second-sec, .page-title div:nth-child(1), #login-btn div:nth-child(1), #signup-btn div:nth-child(1){
    width: 100%;
  }
</style>
<script>
  function newDoc(a) {
      window.location.assign(a);
  }

  $(document).ready(function(){

    $(".btn_more").click(function(){
      console.log("hello")
      $('.read_less').hide();
      $('.read_full').show();
    });

    $(".btn_less").click(function(){
      $('.read_full').hide();
      $('.read_less').show();
    });

  });

</script>
<% locale = local_assigns.has_key?(:lang) ? lang : nil %>
<div class="about-main">
  <div class="row">
    <div class="custom-image-one">
        <% if @page.present? %>
          <%= image_tag( (@page.page_img.attached?) ? @page.page_img : 'new-image.jpg', class: 'img-responsive', alt: t('common.no_image')) %>
        <% else %>
          <%= image_tag('cooking-new.png', class: 'img-responsive', alt: t('common.no_image')) %>
         <% end %>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12 custom-second-sec">
    <div id="message">
        <% if @page.present? %>

            <% upper_page_detail = @page.title || "" %>
            <% font_weight = 400 #upper_page_detail.include?('</strong>') ? 700 : 400 %>
            <% if upper_page_detail.size > 250 %>
              <div class="show-read-more read_less">
                <span class="u-content" style="font-weight: <%= font_weight %>; text-align: center;">
                  <%=  raw enclose_tag(upper_page_detail.slice(0,250)+'...') %>
                </span>
                <p style="text-align: center;">
                  <a href="javascript:void(0)" class="btn_more" style="font-size: 18px; font-weight: <%= font_weight %>;">(<%= t('common.read_more_1_min') %>)</a>
                </p>
              </div>
              <div class="show-read-more read_full" style="display:none; font-weight: <%= font_weight %>;">
                <span class="u-content">
                  <%= raw upper_page_detail %>
                </span>
                &nbsp;
                <p style="text-align: center;">
                  <a class="btn_less" href="javascript:void(0)" style="font-size: 18px;">(<%= t('common.read_less') %>)</a>
                </p>
              </div>
            <% else %>
              <div class="show-read-more" style="font-weight: <%= font_weight %>;"><%= upper_page_detail.html_safe %></div>
            <% end %>

        <% else %>
          <p>
            <%= t('pages.index.be_inspired_to_play') %>
            <br/>
            <%= t('pages.index.craft_your_shareable') %>
            <br/>
            <%= t('pages.index.be_my_guest_use_my_recipes') %>
            <span class="read-more"  data-toggle="collapse" data-target="#demo">
              <a href="#2min" data-toggle="collapse">(<%= t('common.read_more_1_min') %>)</a>
            </span>
          </p>
          <div id="demo" class="collapse content-sec">
            <p>
              <%= t('pages.index.you_can_start_creating') %>
            </p>
            <p>
              <%= t('pages.index.one_pot_and_one_skillet') %>
            </p>
            <br>
            <p>
              <%= t('pages.index.i_have_been_in_foods') %>
            </p>
            <p>
              <%= t('pages.index.in_the_early_nineties') %>
            </p>
            <p>
              <%= t('pages.index.cooking_is_action') %>
              </br>
              <%= t('pages.index.bruno') %>
            </p> 
          </div>
        <% end %>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center custom-second-sec">
    <%# <div id="move-right">
      <div id="btn"> %>
      <div class="row">
        <ul class="dots">
          <li class="text-success"></li>
          <li class="text-success"></li>
          <li class="text-success"></li>
          <li class="text-success"></li>
          <li class="text-success"></li>
        </ul>
      </div>
      <div class="row page-title">
        <div class="col-md-12 text-center">
          <% if @page.present? %>
            <% font_weight = 400 # @page.title.include?('</strong>') ? 700 : 400 %>
            <span style="font-weight: <%= font_weight %>;"><%= @page.content.gsub(/&nbsp\;/i," ").html_safe %></span>
          <% else %>
            <p id="lgp">
              <center><p style="font-size:18px;"><%= t('pages.index.to_use_and_receive_new_recipes') %></p></center>
              <center>*<%= t('pages.index.we_never_share_contact_info') %><br></center>
              <center>** <%= t('pages.index.we_do_no_place_banners') %></center>
              <center><%= t('pages.index.or_ads_of_any_kind') %><br></center>
            </p>
           <% end %>
        </div>
      </div>
      <div class="row" id="login-btn">
        <div class="col-md-12 text-center w-100">
          <button class="btn btn-success btn-lg" onclick='newDoc("<%= new_app_user_session_path(current_app)+'?is_guest=yes' %>")'><%= link_to tl('navigation.login', locale), new_app_user_session_path(is_guest: :yes), {:style=>'color: #fff; position:center;', :id => "btn"} %></button>
        </div>
      </div>
      <% unless current_app_user %>
        <div class="row" id="signup-btn">
          <div class="col-md-12 text-center w-100">
            <button class="btn btn-success btn-lg">
              <%= link_to(tl('common.take_a_tour_as_guest', locale), new_app_user_registration_path(current_app),{ style: 'position:center;'}) %>
            </button>
            <%= link_to(tl('common.menu', locale), app_recipes_path(current_app),{ class: 'btn btn-primary btn-lg', style: 'position:center;', id: 'menubtn'}) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<div class="footer3">
  <p>Powered by Innovative Chefs <%= Time.now.year %> Onward</p>
</div>
</div>
