<style>
  .control-label{
    font-size: 20px;
    padding-left: 15px !important
  }
  /* Dropdown CSS Start */
  .collapsible-item-title-link-icon{
    display: none;
  }
  .panel-default{
    border: none;
    box-shadow: none;
  }
  .panel-heading{
    border: none;
    background: none !important;
  }
  .panel-title{
    text-align: center;
  }
  .panel-title a{
    color: #007bff !important;
    text-decoration: none;
  }
  .collapsible-item-title-link svg{
    margin-left: 5px;
  }
  /* Dropdown CSS End */
</style>
<%= render 'shared/page_title', title: t('agreement.update_agreement_text') %>

<%= render 'shared/errors', obj: @style %>
<div class="row">
  <div class="col-md-12">
    <%= form_with(model: [current_app, @style], url: (@style.persisted? ? app_route(app_style_path(current_app, @style)) : app_route(app_styles_path(current_app))), html: {class: "form-horizontal", role: "form"}) do |f| %>
      <%= render partial: 'shared/form_locale_selector', locals: {model: "style", elem: "namest"} %>
      <% I18n.available_locales.each do |locale| %>
        <div class="form-group <%= "namest_#{locale}" %>">
          <div class="control-label col-md-2 mt-2">
            <%= f.label :agreement_text %>
          </div>
          <div class="col-md-8">
            <%= f.cktext_area "agreement_text_#{locale}", class: "form-control", placeholder: "Enter agreement page text (#{locale})" %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit(t('agreement.update'),
                                        class: "btn btn-primary btn-lg btn-xlarge") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
