<div class="row">
  <div class="welcome-page">
    <div class="welcome-title">
      <%= raw @page.title %>
    </div>
    <div class="welcome-content">
      <%= raw @page.content %>
    </div>
    <div class="welcome-locale-selector text-center">
      <div class="dropdown">
      <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Select a Country <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% I18n.available_locales.each do |locale| %>
            <li>
              <a href="#" class="js-language-dropdown" data-target="dropdown-languag-current" data-language="<%= locale %>">
                <%= I18n.t('language_name', locale: locale) %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

    <div id="enter" class="enter-sec">
      <%= link_to "Enter", about_pages_path, class: "enter-label"%>
    </div>
  </div>
</div>
