<style type="text/css">
  @media (min-width: 768px) and (max-width: 912px) {
    .control-label{
      text-align: justify !important;
    }
    .col-md-12{
      margin-left: 10px;
    }
  }
  @media (min-width: 280px) and (max-width: 912px){
    .col-md-2{
      margin-left: 17px;
    }
  }
</style>
<div class="col-md-12">

    <%= form_with(model: [current_app, @reservation], url: (@reservation.persisted? ? app_route(app_reservation_path(current_app, @reservation)) : app_route(app_reservations_path(current_app))), html: {class: "form-horizontal", role: "form",  multipart: true, role: "form"}) do |f| %>
      <%= f.hidden_field :app_id, value: current_app.id %>
      <%= f.hidden_field :user_id, value: (@reservation.user_id.present?) ? @reservation.user_id : @user_id   %>
      <%= f.hidden_field :recipe_id, value: (@reservation.recipe_id.present?) ? @reservation.recipe_id : @recipe_id %>
      <%= f.hidden_field :re_type, value: params[:type] %>
     
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :full_name, t('forms.full_name') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :full_name, class: "form-control", placeholder: t('forms.full_name'), require: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :phone_number, t('forms.phone_number') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :phone_number, class: "form-control", placeholder: t('forms.phone_number'), require: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :email, t('forms.email') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :email, class: "form-control", placeholder: t('forms.email'), require: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :number_people, t('forms.number_people') %>
        </div>
        <div class="col-md-8">
          <%= f.number_field :number_people, class: "form-control", placeholder: t('forms.people_in_party') %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :ci_date, t('forms.date') %>
        </div>
        <div class="col-md-8">
           <%= f.date_field :ci_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :ci_time, t('forms.time') %>
        </div>
        <div class="col-md-8">
           <%= f.time_select :ci_time, :ignore_date => true, class: 'form-control' %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :notes, t('forms.notes') %>
        </div>
        <div class="col-md-8">
          <%= f.text_area(:notes, size: '50x10', class: "form-control") %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit t('forms.submit'), class: "btn btn-success btn-lg" %>
        </div>
      </div>

      
    <% end %>
</div>