<style>
  table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dadada;
    font-size: 1.2em;
  }
  thead {
    font-weight: bold;
    font-size: 1.3em;
  }
  .title {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
    border-bottom: 1px solid #dadada;
  }
  .price-item {
    font-size: 1.3em;
    margin: 5px;
    padding: 5px;
  }
  .total-item {
    margin: 5px;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
  }
  .null-header {
    border: none;
  }
  .remove-item {
    border: none;
    margin: 5px;
    padding: 5px;
  }
  .remove-item-btn {
    font-size: 1.4em;
    float: right;
    border-radius: 8px;
  }
  .change-item-up {
    height: 17px;
    border: 1px solid #8c8b8b;
  }
  .change-item-down {
    height: 17px;
    border: 1px solid #8c8b8b;
  }
  .quantity-item {
    border-right: none;
  }
  .quantity-arrow-td {
    border-left: none;
  }
  .quantity-arrow {
    float: left;
  }
  #quantity {
    text-align: center;
    font-size: 1.5em;
    margin-left: 40%;
    vertical-align: middle; 
  }
  .fa-sort-down {
    vertical-align: top;
  }
  .coupon-code {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  .fundrasing-code {
    margin: 0;
    padding: 0;
  }
  #coupon_input {
    text-align: center;
    border: 2px solid #3e5ea3;
    font-size: 1.1em;
    padding: 3px;
  }
  #fundrasing_input {
    text-align: center;
    border: 2px solid #3e5ea3;
    border-top: none;
    font-size: 1.1em;
    padding: 3px;
  }
  .checkout {
    font-size: 1.7em;
    font-weight: bold;
  }
  .home-delivery {
    width: 80%;
    text-align: right;
    border: none;
    color: #8c8b8b;
    font-size: 1em;
    font-weight: normal;
  }
  #check-delivery {
    width: 20px;
    height: 20px;  
  }
  .delivery-price {
    color: #8c8b8b;
    border: none;
    border-bottom: 2px solid #8c8b8b;
  }
  .tip {
    width: 80%;
    border: none;
    text-align: right;
  }
  .tip-price {
    border: none;
    border-bottom: 2px solid black;
  }
  #tip {
    width: 90px;
    text-align: center;
    border: none;
  }
  .tax {
    width: 80%;
    border: none;
    text-align: right;
  }
  .tax-price {
    border: none;
    border-bottom: 2px solid black;
  }
  .subtotal {
    width: 80%;
    border: none;
    text-align: right;
  }
  .subtotal-price {
    border: none;
    border-bottom: 2px solid black;
  }
  .total {
    width: 80%;
    border: none;
    text-align: right;
  }
  .total-price {
    border: none;
    border-bottom: 2px solid black;
  }

  .order-button {
    border: none;
  }
  .empty-cart {
    float: right;
    margin-top: 5px;
  }
  .order {
    float: right;
    margin-top: 5px;
  }
</style>

<div>
  <h1 class="title">
    <%= t('recipes.my_cart') %>
    <% if @line_item.present? && @line_item.errors.any? %>
      <div class="mt-3" id="error_explanation">
        <ul style="list-style: none;">
        <% @line_item.errors.full_messages.each do |message| %>
          <li style="font-size: 12px; color: red;"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </h1>
   <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="5"><%= t('recipes.product_name') %></td>
          <td colspan="3"><%= t('recipes.price') %></td>
          <td colspan="3"><%= t('recipes.quantity') %></td>
          <td colspan="3"><%= t('recipes.sub_total') %></td>
          <td class="null-header"></td>
        </tr>
      </thead>
      <tbody>
    <% @current_cart.line_items.order(:created_at).each do |line_item| %>
      <% if line_item.recipe %>
        <% unless line_item.recipe.is_draft %>
        <tr>
          <td colspan="5">
            <h4 class="recipe-name"><%= line_item.recipe.name %></h4>
          </td>
          <td colspan="3" class="price-item"><%= "%0.2f" % (line_item.recipe.price.to_f) %>$</td>
          <% if line_item.recipe.present? && line_item.recipe.inventory_count.present? && line_item.recipe.is_inventory_count? == true %>
            <td class="hidden inventory_count_value"><%= line_item.recipe.inventory_count %></td>
          <% end %>
          <td colspan="2" class="quantity-item">
            <div>
              <span id="quantity"><%= line_item.quantity %></span>
            </div>
          </td>
          <td colspan="1" class="quantity-arrow-td">
            <div class="quantity-arrow">
              <%= button_to app_route(app_line_item_add_path(current_app, id: line_item)), class: 'change-item-up btn', remote: true, method: :post do %>
                <span class="fa fa-sort-up"></span>
              <% end %>
              <%= button_to app_route(app_line_item_reduce_path(current_app, id: line_item)), class: 'change-item-down btn', remote: true, method: :post do %>
                <span class="fa fa-sort-down"></span>
              <% end %>
            </div>
          </td>
          <td colspan="3" class="total-item"><%= "%0.2f" % (line_item.quantity * line_item.recipe.price.to_f) %>$ </td>
          <td class="remove-item"><%= button_to "x", app_route(app_line_item_path(current_app, line_item)), class: "remove-item-btn btn btn-outline-danger", remote: true, method: :delete %></td>
        </tr>
        <% end %>
      <% elsif line_item.gift_card %>
        <tr>
          <td colspan="5">
            <h4><%= line_item.gift_card.name %></h4>
          </td>
          <td colspan="3" class="price-item"><%= "%0.2f" % (line_item.gift_card.price.to_f) %>$</td>
          <% if line_item.recipe.present? && line_item.recipe.inventory_count.present? && line_item.recipe.is_inventory_count? == true %>
            <td class="hidden inventory_count_value"><%= line_item.recipe.inventory_count %></td>
          <% end %>
          <td colspan="2" class="quantity-item">
            <div>
              <span id="quantity"><%= line_item.quantity %></span>
            </div>
          </td>
          <td colspan="1" class="quantity-arrow-td">
            <div class="quantity-arrow">
              <%= button_to app_route(app_line_item_add_path(current_app, id: line_item)), class: 'change-item-up btn', remote: true, method: :post do %>
                <span class="fa fa-sort-up"></span>
              <% end %>
              <%= button_to app_route(app_line_item_reduce_path(current_app, id: line_item)), class: 'change-item-down btn', remote: true, method: :post do %>
                <span class="fa fa-sort-down"></span>
              <% end %>
            </div>
          </td>
          <td colspan="3" class="total-item"><%= "%0.2f" % (line_item.quantity * line_item.gift_card.price.to_f) %>$ </td>
          <td class="remove-item"><%= button_to "x", app_route(app_line_item_path(current_app, line_item)), class: "remove-item-btn btn btn-outline-danger", remote: true, method: :delete %></td>
        </tr>
      <% end %>
    <% end %>
      </tbody>
    </table>
      <p class="show-error-message text-center" style="color: red;"></p>
  </div>
  <div>
    <p class="coupon-code"><%= text_field_tag :coupon_input, @coupon_code_value, placeholder: t('recipes.coupone_code') %></p>
    <p class="fundrasing-code"><%= text_field_tag :fundrasing_input, @fundrasing_code_value, placeholder: t('recipes.fundraising_code') %></p>
  </div>
  <table class="checkout">
    <tr>
      <td class="home-delivery"><%= check_box_tag 'check-delivery', @delivery_check_value, @delivery_check_value, data: { url: app_route(app_check_delivery_path(current_app)), remote: true, method: :post }, onchange: "$(this).data('params', 'check-delivery=' + this.checked)" %> <%= t('recipes.home_delivery') %>: </td>
      <td class="delivery-price"><%= number_to_currency(@total_delivery) %></td>
    </tr>
    <tr>
      <td class="tip"><%= t('orders.tip') %>: </td>
      <td class="tip-price"><%= number_field_tag 'tip', @tip, step: 1, min: 0, data: { url: app_route(app_check_tip_path(current_app)), remote: true, method: :post } %></td>
    </tr>
    <tr>
      <td class="tax"><%= t('orders.tax') %>: </td>
      <td class="tax-price"><%= number_to_currency(@total_tax) %></td>
    </tr>
    <tr>
      <td class="subtotal"><%= t('recipes.subtotal') %>: </td>
      <td class="subtotal-price"><%= number_to_currency(@current_cart.sub_total) %></td>
    </tr>
    <tr>
      <td class="total"><%= t('recipes.total') %>: </td>
      <td class="total-price">
        <% if @delivery_check_value %>
          <%= number_to_currency(@current_cart.sub_total + @total_tax.to_f + @tip.to_f + @total_delivery.to_f) %>
        <% else %>
          <%= number_to_currency(@current_cart.sub_total + @total_tax.to_f + @tip.to_f) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="order-button"><%= button_tag t('recipes.proceed_checkout'), onclick: "checkAndProceed(this);", class: "order btn btn-primary btn-lg checkout-btn", type: "button", disabled: @current_cart.line_items.count == 0 %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="order-button"><%= button_to t('recipes.empty_cart'), app_route(app_cart_path(current_app, id: @current_cart.id)), class: "empty-cart btn btn-danger btn-lg", disabled: @current_cart.line_items.count == 0, method: :delete, data: { confirm: t('common.confirm')} %></td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  // var publishableKey = "<%= Rails.configuration.stripe[:publishable_key] %>"
  // var stripe = Stripe(publishableKey);
  var checkoutCoupon = document.getElementById("coupon_input");
  var checkoutFundCoupon = document.getElementById("fundrasing_input");

  checkoutCoupon.addEventListener("change", function () {
    fetch("/check-coupon", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 'coupon_code': checkoutCoupon.value }),
    })
    .then(function (response) {
      return response.json();
    })
    .then(function (result) {
      var couponCode = document.getElementById("coupon_input");
      if (result.error) {
        couponCode.setCustomValidity(result.error);
        couponCode.reportValidity();
        couponCode.value = "";   
      } else {
        couponCode.style.border = '2px solid lime'
        return result;
      }
    })  
    .catch(function (error) {
      console.log("Error: ", error);
    })
  });

  checkoutFundCoupon.addEventListener("change", function () {
    fetch("/check-fundrasing", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 'coupon_code': checkoutFundCoupon.value }),
    })
    .then(function (response) {
      return response.json();
    })
    .then(function (result) {
      var couponCode = document.getElementById("fundrasing_input");
      if (result.error) {
        couponCode.setCustomValidity(result.error);
        couponCode.reportValidity();
        couponCode.value = "";   
      } else {
        couponCode.style.border = '2px solid lime'
        return result;
      }
    })  
    .catch(function (error) {
      console.log("Error: ", error);
    })
  });

  function checkAndProceed(button) {
    if (!button.disabled) {
      var elements = document.querySelectorAll('.inventory_count_value');
      var hasZero = false;

      elements.forEach(function(element) {
        var textValue = element.textContent;
        
        if (textValue === "0") {
          var parentTr = element.closest('tr');
          var recipeNameElement = parentTr.querySelector('.recipe-name').textContent;
          $('.show-error-message').html(''+recipeNameElement+' not available. Please remove it');
          hasZero = true;
        }
      });
      
      if (!hasZero) {
        window.location.href = "<%= app_route(app_add_additional_params_path(current_app)) %>";
      }
    }
  }
</script>
