<style>
  .input-group-addon:last-child {
      border-left: 0;
      height: 36px;
      padding-right: 25px;
  }
  .login-sec .field input {
      width: 90%;
  }
  #app_user_password {
    width: 96%;
  }
  #toggle-password-id {
    width: 20px;
    margin-left: -32px;
  }
  .form-control {
    font-size: 14px;
    color: black;
  }
  .btn-success{
    border-radius: 8px;
  }
</style>
<div class="login-header">
  <p>
    <h1>Welcome!</h1>
    <hr>
  </p>
</div>

<div class="row">
  <div class="well col-md-5 col-md-offset-4 login-sec">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.hidden_field :app_id, value: current_app.id %>
      <div class="field">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "width:100%" %>
      </div>

      <div class="field form-group show-password" style="padding-left: 15px;">
        <div class="row">
          <%= f.label :password, 'Password' %>
        </div>
        <div class="row">
          <%= f.password_field :password, autocomplete: 'current-password', class: "form-control md-col-12 " %>
          <div class='input-group-addon md-col-2' id="toggle-password-id">
            <a href="" class="toggle-password">
              <%= fa_icon "eye" %>
            </a>
          </div>
        </div>
      </div>

      <div >
        <%= f.check_box :remember_me, (resource.remember_me ? {} : { checked: true }) %> <%= f.label :remember_me %>
      </div>

      <div class="actions">
        <%= f.submit 'Login', class: 'btn btn-success'%>
      </div>
    <% end %>

    <%= link_to 'Forgot password', new_app_user_password_path(current_app) %>
  </div>
</div>
