<style>
  .bottom-line{
    background-color: lightgray;
  }
  .agreement-btn{
    font-size: 18px;
    width: 150px !important;
  }
  .agreement-checkBox{
    height: 40px;
    width: 40px;
  }
  input{
    font-size: 16px !important;
  }
  @media screen and (max-width: 600px) {
    .agreement-checkBox{
      width: 100%;
    }
  }
  @media screen and (max-width: 950px) {
    .agree-section{
      justify-content: center;
      margin-bottom: 10px;
    }
  }
</style>

<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <%= render 'summary' %>
      <div class="mt-5">
        <%= form_with(model: Agreement.new, url: app_agreements_path(current_app), html: { id: "agreement_form" }) do |f| %>
          <%= f.hidden_field :style_id, value: Style.agreement_style.id %>
          <div class="row mt-3">
            <div class="col-md-6">
              <%= f.email_field :email , placeholder:"E-mail*", class:"ml-3 form-control", required: true %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <%= f.text_field :first_name , placeholder:"First Name*", class:"ml-3 form-control", required: true %>
            </div>
          </div>
          <div class="row mt-3 pb-4">
            <div class="col-md-6">
              <%= f.text_field :last_name , placeholder:"Last Name*", class:"ml-3 form-control", required: true %>
            </div>
          </div>

          <h2 class="mt-5">
            If under 18 years of age, the name of the legal guardian:
          </h2>
          <div class="row ">
            <div class="col-md-6">
              <%= f.email_field :guardian_email , placeholder:"Guardian Email*", class:"ml-3 form-control", required: true %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <%= f.text_field :guardian_first_name , placeholder:"Guardian First Name*", class:"ml-3 form-control", required: true %>
            </div>
          </div>
          <div class="row mt-3 pb-5">
            <div class="col-md-6">
              <%= f.text_field :guardian_last_name , placeholder:"Guardian Last Name*", class:"ml-3 form-control", required: true %>
            </div>
          </div>

          <div  class="row mt-5 text-center pb-5">
            <div class="col-12">
              <h1>
                Click to indicate that you have read and agree to the terms of this agreement: *
              </h1>
            </div>
            <div class="col-12 d-lg-flex justify-content-center">
              <div class="d-sm-flex agree-section">
                <h2 class="mr-lg-3 my-auto">Agree*</h2>
                <%= check_box_tag 'agree', 'false', false, class: 'agreement-checkBox' %>
              </div>
              <%= f.submit "Submit" , id:"Submit-btn", class:"ml-3 agreement-btn btn btn-success btn-lg p-3 text-white w-100", disabled: true%>
              <a class="border agreement-btn btn btn-secondary btn-lg text-white w-100 ml-3 p-3 clear-btn">
                Clear Form
              </a>
              <a  href="<%= table_app_styles_path(current_app) %>" class="border agreement-btn btn btn-danger btn-lg text-white w-100 ml-3 p-3">
                Cancel
              </a>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-center border bottom-line">
          <h2>
            A copy of your responses will be emailed to the address you provided.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="captcha_sub_signup mb-5 mt-5" style="text-align: center;">
    <div class="g-recaptcha g-recaptcha--left" style="display: inline-block;" data-sitekey="6Ld5ph4gAAAAAKy0Q1L07-XmPk2tguqGDRZDmFpg" data-callback="get_action" ></div>
    <span id="captcha" style="color:red;" />
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  $( document ).ready(function() {
    $('.agreement-checkBox').click(function() {
      if ($(this).is(':checked') && ($("#recaptcha-anchor").attributes[2].value == "true")) {
        $('#Submit-btn').attr("disabled", false);
      } else {
        $('#Submit-btn').attr("disabled", true);
      }
    });

    $('.clear-btn').click(function() {
      $('#Submit-btn').attr("disabled", true);
      $("#agreement_form").trigger("reset");
    })

    function get_action(form) {
      var v = grecaptcha.getResponse();
      if(v.length == 0) {
        $('#Submit-btn').attr("disabled", true);
      } else if ($('.agreement-checkBox').is(':checked')) {
        console.log("vl", v, "vl.l", v.length);
        $('#Submit-btn').attr("disabled", false);
      }
    };
  });
</script>
