<style>
  .report-table {
    margin-left: 7%;
    margin-right: 3%;
    padding-bottom: 5%;
    max-width: 590px;
  }
  table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dadada;
    font-size: 1.4em;
    padding: 5px 0 5px 0;
  }
  thead {
    font-weight: bold;
    font-size: 1.2em;
  }
  .total-report {
    font-weight: bold;
    font-size: 1.2em;
  }
  .total-report-label {
    text-align: left;
    padding-left: 25px;
  }
  .coupon-report {
    font-size: 1.1em;
  }
  .report-category {
    text-align: left;
    padding-left: 25px;
  }
  .report-filter {
    margin-left: 5px;
  }
  .date-field-report {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  .button-field-report {
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    min-width: 180px;
  }
  .excel-download {
    float: right;
    margin-top: 5px;
    margin-bottom: 30px;
  }
</style>

<div class="report-table">
  <h3 style="text-align: center; padding-bottom: 5px;"><%= t('reports.category_title') %></h3>
  <div class="report-filter">
    <%= form_for('category_sales', url: app_category_sales_path(@current_app), remote: true) do |f| %>
      <%= f.date_field :date_from, value: category_date_from, class: 'date-field-report form-control col-md-4' %>
      <%= f.date_field :date_to, value: category_date_to, class: 'date-field-report form-control col-md-4' %>
      <%= f.submit "Create Report", class: 'button-field-report btn btn-primary btn-lg' %>
    <% end %> 
  </div>

  <table>
    <thead>
      <tr>
        <td><%= t('reports.category_name') %></td>
        <td><%= t('reports.items') %></td>
        <td><%= t('reports.sales') %></td>
      </tr>
    </thead>
    <tbody>
    <% categories.each do |key, value| %>
      <tr>
        <td class="report-category"><%= key.capitalize %></td>
        <td><%= value['category_item'] %></td>
        <td><%= number_to_currency(value['category_amount']/100.0) %></td>
      </tr>
    <% end %>

      <tr class="total-report">
        <td class="total-report-label"><%= t('reports.gross_sales') %></td>
        <td><%= @category_total_item %></td>
        <td><%= number_to_currency(@category_gross_sales/100.0) %></td>
      <tr>
      <tr class="total-report">
        <td class="total-report-label" colspan="2"><%= t('reports.tax_sales') %></td>
        <td><%= number_to_currency(@category_tax) %></td>
      <tr>
      <tr class="coupon-report">
        <td class="total-report-label" colspan="2"><%= t('reports.coupon_sales') %></td>
        <td><%= @category_coupon_count %> / <%= number_to_currency(@category_coupon_discount * (-1)) %></td>
      <tr>
      <tr class="coupon-report">
        <td class="total-report-label" colspan="2"><%= t('reports.fundrasing_sales') %></td>
        <td><%= @category_fundrasing_count %></td>
      <tr>
      <tr class="total-report">
        <td class="total-report-label" colspan="2"><%= t('reports.total_sales') %></td>
        <td><%= number_to_currency(@category_total_amount/100.0) %></td>
      <tr>
      <tr class="total-report">
        <td class="total-report-label" colspan="2"><%= t('reports.credit_sales') %></td>
        <td><%= number_to_currency(@category_credit_total/100.0) %></td>
      <tr>
      <tr class="total-report">
        <td class="total-report-label" colspan="2"><%= t('reports.cash_sales') %></td>
        <td><%= number_to_currency(@category_cash_total/100.0) %></td>
      <tr>
    </tbody>
  </table>

  <div>
    <%= button_to 'EXCEL download', app_category_sales_path(@current_app, format: :xlsx),
                  class: 'excel-download btn btn-outline-success', disabled: categories.keys.empty? ? true : false,
                  params: { categories: categories, date_from: category_date_from, date_to: category_date_to,
                            total_item: @category_total_item, gross_sales: @category_gross_sales,
                            total_amount: @category_total_amount, credit_total: @category_credit_total,
                            cash_total: @category_cash_total, tax: @category_tax, coupon_count: @category_coupon_count,
                            coupon_discount: @category_coupon_discount, fundrasing_count: @category_fundrasing_count } %>
  </div>
</div>
