<% if user_signed_in? %>
  <div class="header">
    <div class="background-image">
      <%= image_tag("header.png") %>
    </div>
    <div class="button-menu">
      <% if current_user.guest? %>
        <div class="recipes-button">
          <%= link_to "Recipes", recipes_path, class: "btn btn-success dropdown-toggle custom-dropdown" %>
        </div>
        <div class="log-out">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        </div>
      <% else %>
      <div class="recipes-button">
        <%= link_to "Recipes", recipes_path, class: "btn btn-success dropdown-toggle custom-dropdown" %>
      </div>
      <div class="guests-button">
        <%= link_to 'Guests', guests_path, class: 'btn btn-success dropdown-toggle custom-dropdown' %>
      </div>
      <div class="recipes-button">
        <%= button_tag(type: 'button', class: "btn btn-primary dropdown-toggle custom-dropdown", "data-toggle" => "dropdown") do %>
          <%= "Styles" %>
        <% end %>
      </div>
      <div class="recipes-button">
        <%= button_tag(type: 'button', class: "btn btn-primary dropdown-toggle custom-dropdown", "data-toggle" => "dropdown") do %>
          <%= "Ingredients" %>
          <ul class="dropdown-menu">
            <% Ingredient.all.each do |ingredient| %>
            <li>
              <%= link_to "Edit welcome page", welcome_edit_pages_path %>
            </li>
            <li>
              <%= link_to "Edit about page", about_edit_pages_path %>
            </li>
          </ul>
          <% end %>
        <% end %>
      </div>
      <div class="recipes-button">
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-success dropdown-toggle custom-dropdown" %>
      </div>
      <div class="dropdown">
        <%= button_tag(type: 'button', class: "btn btn-primary dropdown-toggle custom-dropdown", "data-toggle" => "dropdown") do %>
          <%= current_user.first_name %>
        <% end %>
        <ul class="dropdown-menu">
          <% if current_user.admin? %>
          <li>
            <%= link_to "Edit welcome page", welcome_edit_pages_path %>
          </li>
          <li>
            <%= link_to "Edit about page", about_edit_pages_path %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="log-out">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      </div>
      <% end %>
    </div>
</div>
<% else %>
<div class="navbar-default">
  <div class="auth_buttons">
    <div class="login">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-success" %>
    </div>
    <div class="registration">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
<% end %>