<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MyRecipes", root_path, class: "navbar-brand", id: "logo" %>
    </div>
  <div class="menu">
    <% if user_signed_in? %>
      <div class="dropdown">
        <%= button_tag(type: 'button', class: "btn btn-primary dropdown-toggle custom-dropdown", "data-toggle" => "dropdown") do %>
          <%= current_user.first_name %>
        <% end %>
        <ul class="dropdown-menu">
          <% if current_user.admin? %>
            <li>
              <%= link_to "Edit welcome page", welcome_edit_pages_path %>
            </li>
            <li>
              <%= link_to "Edit about page", about_edit_pages_path %>
            </li>
          <% end %>
          <li>
            <a href="#">JavaScript</a>
          </li>
        </ul>
      </div>
      <div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      </div>
    <% else %>
      <div>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-success"%>
      </div>
    <% end %>
  </div>
</nav>
