<!DOCTYPE html>
<html>
  <head>
    <title>EatnDoGood</title>
    <%= Gon::Base.render_data %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch" %>
    <%
=begin%>
 <%= javascript_include_tag "https://js.stripe.com/v3/" %> 
<%
=end%>
    <link rel="shortcut icon" type="image/png" href="/iTR-favicon 516x2.jpg"/>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <%= favicon_link_tag "EnDG-favicon.png", rel: "icon", type: "image/x-icon" %>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
  </head>

  <body>   
    <div id="wrapper">
      <div class="header"> 
        <!-- <img src="https://via.placeholder.com/800x137"> -->
        <%= render 'layouts/navigation' %>
      </div> 
      <%= flash_toastr %> 
      <%= render 'layouts/messages' %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'cookies_eu/consent_banner' %>
    </div>
  </body>
</html>
